@charset "UTF_8";


@media (max-width: 460px) {
    
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="tel"],
    input[type="date"],
    input[type="color"],
    input[type="datetime-local"],
    input[type="file"],
    input[type="hidden"],
    input[type="image"],
    input[type="month"],
    input[type="range"],
    input[type="reset"],
    input[type="search"],
    input[type="submit"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    /* input[type="checkbox"],
    input[type="radio"],
    textarea, */
    select {
        display: flex;

    }
}