@charset "UTF_8";


input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="color"],
input[type="datetime-local"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="month"],
input[type="range"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="time"],
input[type="url"],
input[type="week"],
/* input[type="checkbox"], */
/* input[type="radio"], */
textarea,
select {
    min-width: 200px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid rgba(128, 128, 128, 0.281);
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    outline: none;
    transition: 0.3s ease;
    display: block;
    margin-top: 5px;
    resize: vertical;
    background-color: transparent;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;

}

input[type="radio"]:not(:first-child){
    margin-left: 20px;
}

input[type="radio"]{
    margin-right: 5px;
}

.radioInputConteiner{
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
