@charset "UTF_8";

.infoSection{
    display: flex;
    /* height: 90%; */
    margin: 10px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: var(--my-box-shadow);
    border-right: 2px solid var(--myLightBlue);
}

.articleSection{
    display: flex;
    text-align: center;
    flex-direction: column;

}

.infoTitle{
    font-size: 1.5em;
    margin: 20px auto;
    font-weight: bold;
    color: var(--myLightBlue);

}

.infoParagraph{
    max-width: 600px;
    margin-bottom: 10px;
    text-align: justify;
    color: #161616;
    padding: 10px;
}

.infoCaption{
    margin-top: 1em;
    color: var(--myLightBlue);
}