<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dados da empresa</title>

    <link rel="shortcut icon" href="../../../assets/icons/favicon_gemic_app.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../components/header/header.css">
    <link rel="stylesheet" href="../../../components/header/headerMediaQuery.css">
    <link rel="stylesheet" href="../../../components/sideBar/sideBar.css">
    <link rel="stylesheet" href="../../../components/sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../../components/footer/footer.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttons.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttonsMediaquery.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/iconButton.css">

    <link rel="stylesheet" href="../../../components/boot/set/set.css">
    <link rel="stylesheet" href="../../../components/profile/profileDetails.css">
    <link rel="stylesheet" href="../../../components/profile/profileDetailMediaQuery.css">

    <link rel="stylesheet" href="../../../components/boot/selectedIconSideBar.css">

    <link rel="stylesheet" href="../../../assets/fontawesome-free-6.5.1-web/css/all.min.css">
<!--    <script src="https://kit.fontawesome.com/07b3a47c42.js" crossorigin="anonymous"></script>-->

</head>
<body>


<!-- MOBILE BUTTON FOR SIDEBAR-->
<span id="buttonForBarMobile" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </span>

<menu  id="menu" class="menuBar sidebar-hidden">

    <ul>
        <li id="buttonForBar">
            <i class="fa-regular fa-circle-xmark" id="xmark"></i><i class="fa-solid fa-bars" id="bars"></i>
        </li>

        <li><a href="../../dashboard/dashboard.html"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="../../admin/admin.html"><i class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="../../clients/Client.html"><i class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="../../loans/loans.html"><i class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="../../cashFlow/dailyTransitions.html"><i class="fa-solid fa-cash-register"></i> Caixa</a></li>
        <li><a href="../../reports/Reports.html"><i class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
        <li><a href="../aboutCompany.html"><i class="fa-solid fa-briefcase"></i> Acerca</a></li>
        <li><a href="../../clientFinance/clientFinance.html"><i class="fa-solid fa-money-bill"></i>finaças</a></li>
        <li><a href="../../finance/companiesWithActiveLicense/companiesWithActiveLicense.html"><i class="fa-solid fa-coins"></i> Finanças</a></li>
        <li><a href="../../../../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>
    </ul>
</menu>

<main class="mainContent">

    <nav class="navBar hide">
        <span></span>
        <a href="../../admin/userProfile/profile.html" title="Ver meu perfil"><p>Ola Brian Smith <i
                class="fa-solid fa-circle-user"></i></p></a>
    </nav>

    <nav class="subNavBar">

        <div class="mobileDisplay">


                <a href="../parametrization/parametrisation.html" class="btn btn-default" id="parametrisationButton"
                   title="Parametrização"><i class="fa-solid fa-sitemap"></i>
                </a>

                <a href="companyData.html" class="btn btn-default" id="configsButton"
                   title="Configurações">
                    <i class="fa-regular fa-building"></i>
                </a>


        </div>
    </nav>


    <!--  Conteiner FOR MAIN CONTENT-->
    <div class="mainContentJustifier">
        <!--COMPANY PROFILE-->
        <section class="profileSection">
            <article class="profileDetails personalInformation">
                <a class="iconButton" href="configs.html" title="Editar dados"><i class="fa-solid fa-pen-clip"></i></a>

                <div class="profileName">
                    <i class="fa-solid fa-circle-user"></i>
                    <h1>Loza Microcrédito</h1>
                </div>

                <div class="groupContent">
                    <div class="details" id="companyNUIT">
                        <h2>NUIT</h2>
                        <p>987654321</p>
                    </div>

                    <div class="details" id="startOfActivity">
                        <h2>Início de actividade</h2>
                        <p>12/11/2021</p>
                    </div>


                    <div class="details" id="startingCapital">
                        <h2>Capital inicial</h2>
                        <p>150 000,00</p>
                    </div>
                </div>

                <div class="groupContent">

                    <div class="details" id="province">
                        <h2>Provincia</h2>
                        <p>Maputo</p>
                    </div>

                    <div class="details" id="district">
                        <h2>Distrito</h2>
                        <p>Boane</p>
                    </div>

                    <div class="details" id="contact">
                        <h2>Contacto</h2>
                        <p>871111111</p>
                    </div>
                </div>


                <div class="groupContent">

                    <div class="details" id="email">
                        <h2>E-mail</h2>
                        <p>jose@gmail.com</p>
                    </div>

                    <div class="details" id="ownersName">
                        <h2>Proprietário</h2>
                        <p>José Arlindo</p>
                    </div>
                </div>

                <div class="groupContent">

                    <div class="details" id="finesApplicationDays">
                        <h2>Dias de aplicação das multas</h2>
                        <p>7</p>
                    </div>

                    <div class="details" id="clientResidence">
                        <h2>Percentagem da multa</h2>
                        <p>2</p>
                    </div>
                </div>

            </article>
        </section>

    </div>


    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>

</main>

<script src="../../../components/sideBar/sideBar.js"></script>
<script src="../../../components/sideBar/sideBarMediaquery.js"></script>
</body>
</html>