@charset "UTF_8";

div.formConteiner {
    display: flex;
    flex-basis: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 10px;
    flex-wrap: wrap;
    max-width: 820px;
    box-shadow: var(--my-box-shadow);
}


h3,h2,h1.formTitle {
    /*background-color: #ff9999;*/
    display: flex;
    flex-basis: 100%;
    align-items: flex-start;
    justify-content: center;
}

.contentDivisor{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.companyData{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    flex-basis: calc(50% - 20px);
}

p{
    display: flex;
    flex-basis: 100%;
}

h1{
    margin-top: 20px;
    font-size: 16pt;
}

h2 {
    margin: 30px 0 20px 0;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 5px;
}

h2 {
    font-size: 14px;
}

.loanLabelInputConteiner{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

input,select{
    border-radius: 5px;
}

label{
    margin: 10px 10px 10px 0;
}

label.labelForCheck{
    margin-left: 5px;
}

