@charset "UTF_8";


.paymentDataConteiner{

}

.paymentTitle{

}

.titleAndDataConteinerName{

}

@media screen and (max-width: 600px) {
  .dataRow{
    flex-direction: column;
  }

  .titleAndDataConteiner{
    flex-basis: 100%;
    margin-bottom: 10px;
  }
}