@charset "UTF-8";


.paymentTitle {

}

.titleAndDataConteinerName {

}

@media screen and (max-width: 600px) {

    .paymentDataConteiner {
        margin: 10px;
    }

    .dataRow {
        flex-direction: column;
    }

    .titleAndDataConteiner {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .tableConteiner {
        margin: 10px;
    }
}