<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Adicionar movimento</title>

    <link rel="shortcut icon" href="../../../assets/icons/favicon_gemic_app.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../components/header/header.css">
    <link rel="stylesheet" href="../../../components/header/headerMediaQuery.css">
    <link rel="stylesheet" href="../../../components/sideBar/sideBar.css">
    <link rel="stylesheet" href="../../../components/sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../../components/footer/footer.css">

    <link rel="stylesheet" href="../../../components/boot/set/set.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttons.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttonsMediaquery.css">
   <link rel="stylesheet" href="../../../components/form/standardForm/standardForm.css">
   <link rel="stylesheet" href="../../../components/form/standardForm/standardFormMediaquery.css">
    <link rel="stylesheet" href="../../../components/inputs/standardInputs/standardInputs.css">
    <link rel="stylesheet" href="../../../components/inputs/searchTools/searchTools.css">
    <link rel="stylesheet" href="../../../components/inputs/standardInputs/standardInputsMediaquery.css">

    <link rel="stylesheet" href="../../../components/boot/uledIconSideBar.css">

    <link rel="stylesheet" href="../../../assets/fontawesome-free-6.5.1-web/css/all.min.css">
    <!--    <script src="https://kit.fontawesome.com/07b3a47c42.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="addMoviment.css">

</head>
<body>

<!-- MOBILE BUTTON FOR SIDEBAR-->
<span id="buttonForBarMobile" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </span>

<menu  id="menu" class="menuBar sidebar-hidden">

    <ul>
        <li id="buttonForBar">
            <i class="fa-regular fa-circle-xmark" id="xmark"></i><i class="fa-solid fa-bars" id="bars"></i>
        </li>

        <li><a href="../../dashboard/dashboard.html"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="../../admin/admin.html"><i class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="../../clients/Client.html"><i class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="../../loans/loans.html"><i class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="../dailyTransitions.html"><i id="cashFlow" class="fa-solid fa-cash-register"></i> Caixa</a></li>
        <li><a href="../../reports/Reports.html"><i class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
        <li><a href="../../configs/aboutCompany.html"><i class="fa-solid fa-briefcase"></i> Acerca</a></li>
        <li><a href="../../../../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>
    </ul>
</menu>

<!--MAIN Conteiner-->
<main class="mainContent">

    <!-- LOGGED NAME AND BUTTON TO PROFILE-->
    <nav class="navBar">
        <span></span>
        <a href="../../admin/userProfile/profile.html" title="Ver meu perfil"><p>Ola Brian Smith <i
                class="fa-solid fa-circle-user"></i></p></a>
    </nav>

    <!--  Conteiner FOR MAIN CONTENT-->
    <div class="mainContentJustifierWithoutSubMenu">
        <!-- SIGN form-->
        <div class="formConteiner">
            <h1 class="formTitle">Adicionar movimento</h1>
            <form action="#" class="standardForm">
                
          <div class="forInputsConteiner">

                    <div class="forInputs">
                        <h2 class="standardFormSubtitle">Movimento *</h2>
                        <div class="radioInputConteiner">
                            
                            <input class="standardFormInput" type="radio" id="income" name="typeOfTransaction">
                            <label class="standardFormLabel" for="income">Entradas</label>
                        
                            <input class="standardFormInput" type="radio" id="expenses" name="typeOfTransaction">
                            <label class="standardFormLabel" for="expenses">Saídas</label>
                        
                        </div>
                        
                        <div id="typeOfTransactionDocumentoFeedback" class="feedback">
                        </div>

                    </div>

                    <div class="forInputs">
                        <label class="standardFormLabel" for="transactionDate">Data da transação *</label>
                        <input class="standardFormInput" type="date" id="transactionDate" name="transactionDate">
                        <div id="transactionDateDateDocumentoFeedback" class="feedback">
                        </div>
                    </div>
                </div>
                
                <div class="forInputsConteiner">

                    <div class="forInputs">
                        <label class="standardFormLabel" for="paymentMethod">Método de pagamento *</label>
                         <input type="text" id="paymentMethod" class="searchable-input" placeholder="Digite para pesquisar..." autocomplete="off">
                        <ul class="dropdown hidden">
                            <li></li>
                            <li>e-Mola</li>
                            <li>m-pesa</li>
                            <li>m-Kesh</li>
                            <li>Caixa</li>
                            <li>Banco</li>
                        </ul>
                        <div id="paymentMethodDocumentoFeedback" class="feedback">
                        </div>

                    </div>

                    <div class="forInputs">
                        <label class="standardFormLabel" for="typeOfAcount">Tipo de conta *</label>
                         <input type="text" id="typeOfAcount" class="searchable-input" placeholder="Digite para pesquisar..." autocomplete="off">
                        <ul class="dropdown hidden">
                            <li></li>
                            <li>Investimento</li>
                            <li>Despesas fixas</li>
                            <li>Entradas não operacionais</li>
                            <li>Saídas não operacionais</li>
                        </ul>
                        <div id="typeOfAcountDocumentoFeedback" class="feedback">
                        </div>
                    </div>
                    
                </div>
                
                <div class="forInputsConteiner">
                    <div class="forInputs">
                        <label class="standardFormLabel" for="accountToDebit">Conta a debitar *</label>
                         <input type="text" id="accountToDebit" class="searchable-input" placeholder="Digite para pesquisar..." autocomplete="off">
                        <ul class="dropdown hidden">
                            <li></li>
                            <li>Pagamento de renda</li>
                            <li>Pagamento de salário</li>
                            <li>Investimento de captal externo</li>
                        </ul>
                        <div id="accountToDebitDocumentoFeedback" class="feedback">
                        </div>
                    </div>

                    <div class="forInputs">
                        <label class="standardFormLabel" for="value">Valor *</label>
                        <input class="standardFormInput" type="text" id="value" name="value">
                        <div id="valueDocumentoFeedback" class="feedback">
                        </div>
                    </div>
                </div>
                
                <div class="forInputsConteiner">

                    <div class="forInputs">
                        <label class="standardFormLabel" for="description">Observação *</label>
                        <textarea id="description" name="description"></textarea>
                        <div id="descriptionDocumentoFeedback" class="feedback fullWidthFeedback">
                        </div>
                    </div>
                    
                </div>

                <div class="button-container">
                    <button class="btn btn-cancel" type="reset">Descartar</button>
                    <button class="btn btn-success" type="submit">Submeter</button>
                </div>
            </form>
        </div>

    </div>

    <!--  FOOTER-->
    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>
</main>


<script src="../../../components/sideBar/sideBar.js"></script>
<script src="../../../components/sideBar/sideBarMediaquery.js"></script>
<script src="../../../components/inputs/searchTools/searchTools.js"></script>
</body>
</html>