@charset "UTF-8";

.dropDown {
    display: flex;
    position: absolute;
    /*top: 25vh;*/
    /*left: 45vw;*/
    margin-top: 130px;
    margin-left: 340px;
    flex-wrap: wrap;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 5px 5px 30px var(--myLightBlueButton);
}

.dropDown > h1 {
    align-items: center;
    justify-content: center;
    padding: 5px 2px;
}

.dropDown > i.cancelButton {
    display: none;
    position: absolute;
    right: 5px;
    top: 0;
    color: rgba(255, 0, 0, 0.1) !important;
}

.dropDown > i.cancelButton:hover{
    color: rgba(255, 0, 0, 0.75)!important;
}


.dropDown > h1 {
    display: flex;
    flex-basis: 100%;
    /*background-color: blue;*/
    border-bottom: 1px dashed var(--myLightBlueButton);
}

.dropDown > .PopUpConteiner {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.dropDown > .PopUpConteiner > label, select {
    display: flex;
    flex-basis: 100%;
    border-radius: 5px;
}

.dropDown > .PopUpConteiner > label {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 8pt;
}

.dropDown > .PopUpConteiner > select {
    background-color: var(--myLightBlueButton);
    border: none;
    padding: 5px 2px;
}

.dropDown > .PopUpConteiner > select > option {
    border: none;
}

.ButtonsConteiner {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    margin-top: 30px;
}

.ButtonsConteiner > button {
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

.ButtonsConteiner > button.deny:hover {
    background-color: rgba(255, 0, 0, 0.1);
    color: rgba(255, 0, 0, 0.75);
}

.ButtonsConteiner > button.accept:hover {
    color: white;
    background-color: var(--myLightBlue);
}