<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Gestão do empréstimo</title>

    <link rel="stylesheet" href="../../components/boot/set/set.css">
    <link rel="stylesheet" href="../../../src/components/header/header.css">
    <link rel="stylesheet" href="../../../src/components/header/headerMediaQuery.css">
    <link rel="stylesheet" href="../../../src/components/sideBar/sideBar.css">
    <link rel="stylesheet" href="../../../src/components/sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../../src/components/footer/footer.css">
    <!--    -->
    <!--    -->
    <link rel="stylesheet" href="../../components/boot/set/buttons/buttons.css">
    <link rel="stylesheet" href="../../components/boot/set/buttons/buttonsMediaquery.css">
    <link rel="stylesheet" href="../../../src/components/boot/infoTextType.css">
    <link rel="stylesheet" href="../../../src/components/table/table.css">
    <link rel="stylesheet" href="../../../src/components/boot/inputs.css">

    <link rel="stylesheet" href="../../../src/components/boot/selectedIconSideBar.css">
    <!--    -->
    <link rel="stylesheet" href="../../assets/fontawesome-free-6.5.1-web/css/all.min.css">
<!--    <script src="https://kit.fontawesome.com/07b3a47c42.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.css">

</head>
<body>

<!-- MOBILE BUTTON FOR SIDEBAR-->
<span id="buttonForBarMobile" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </span>

<menu  id="menu" class="menuBar sidebar-hidden">

    <ul>
        <li id="buttonForBar">
            <i class="fa-regular fa-circle-xmark" id="xmark"></i><i class="fa-solid fa-bars" id="bars"></i>
        </li>

        <li><a href="../../views/dashboard/dashboard.html"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="../admin/admin.html"><i class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="../clients/Client.html"><i class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="../loans/loans.html"><i id="loan" class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="../cashFlow/dailyTransitions.html"><i class="fa-solid fa-cash-register"></i> Caixa</a></li>
        <li><a href="../../views/reports/Reports.html"><i class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
        <li><a href="../configs/aboutCompany.html"><i class="fa-solid fa-briefcase"></i> Acerca</a></li>
        <li><a href="../../../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>
    </ul>
</menu>

<!--MAIN Conteiner-->
<main class="mainContent">

    <!-- LOGGED NAME AND BUTTON TO PROFILE-->
    <nav class="navBar">
        <span></span>
        <a href="../admin/userProfile/profile.html" title="Ver meu perfil"><p>Ola Brian Smith <i
                class="fa-solid fa-circle-user"></i></p></a>
    </nav>

    <!-- SUB NAVBAR-->
    <nav class="subNavBar">

        <div class="mobileDisplay">

                <a href="grantLoan/grantLoan.html" class="btn btn-success" id="grantLoanButton"
                   title="Conceder empréstimo">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                </a>

                <a href="slaughteredLoan/slaughteredLoan.html" class="btn btn-default" id="slaughteredLoanButton"
                   title="Ver empréstimos abatidos">
                    <i class="fa-solid fa-sack-xmark"></i>
                </a>

                <a href="finalizedLoans/finalizedLoans.html" class="btn btn-default" id="finishedLoanButton"
                   title="Ver empréstimos finalizados">
                    <i class="fa-solid fa-circle-check"></i>
                </a>

                <a href="loans.html" class="btn btn-success-curentPage" id="curentLoansButton"
                   title="Empréstimo em curso">
                    <i class="fa-solid fa-clipboard-list"></i>
                </a>
        </div>
    </nav>

    <!--  Conteiner FOR MAIN CONTENT-->
    <div class="mainContentJustifier">
        <!--  TABLE Conteiner-->
        <div class="tableConteiner">
            <table  class="display table_on_profile_view" style="width:100%">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Nome</th>
                    <th>Valor concedido</th>
                    <th>Juros(%)</th>
                    <th>Data de concessão</th>
                    <th>Data final</th>
                    <th>Valor pago</th>
                    <th>Valor por pagar</th>
                    <th>Estado</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr class="user">
                    <td>1</td>
                    <td>Alcino de Almeida Martins Tsengo</td>
                    <td>200 000,00</td>
                    <td>30</td>
                    <td>17-09-2024</td>
                    <td>17-12-2024</td>
                    <td>0,00</td>
                    <td>65 000,00</td>
                    <td class="info-text-without-backgroud">Em dia</td>
                    <td class="actionEye">

                        <a href="payment/payment.html" title="Fazer pagamento">
                            <i class="fa-solid fa-money-bill-wave"></i></a>

                        <a href="loanManagement/loanManagement.html" title="Gerir o empréstimo">
                            <i class="fa-solid fa-scale-unbalanced"></i></a>

                        <a href="paymentReport/paymentReport.html" title="Visualizar empréstimo">
                            <i class="fa-solid fa-eye"></i></a>

                        <a href="#" title="Imprimir recibo">
                            <i class="fa-solid fa-receipt"></i></a>

                    </td>
                </tr>
                <!-- Repita este bloco de tr para cada usuário -->
                <tfoot>
                <tr>
                    <th>Nº</th>
                    <th>Nome</th>
                    <th>Valor concedido</th>
                    <th>Juros(%)</th>
                    <th>Data de concessão</th>
                    <th>Data final</th>
                    <th>Valor pago</th>
                    <th>Valor por pagar</th>
                    <th>Estado</th>
                    <!--                    <th class="actionEye">Ações</th>-->
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!--  FOOTER-->
    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>
</main>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>

<script src="../../../src/components/table/table.js"></script>
<script src="../../components/boot/set/set.js"></script>

<script src="../../components/sideBar/sideBar.js"></script>
<script src="../../components/sideBar/sideBarMediaquery.js"></script>
</body>
</html>