@charset "UTF-8";

@media screen and (max-width: 1024px) {

    .titlesConteinerAndUserLis {
    }

    .titlesConteiner {
    }

    .titles {
    }

    .titlesConteiner > .titles > h1.email, h1.lastLogin, h1.joinedDate {
        display: none;

    }

    .userLis > .user > .mainInfo > .email, .lastLogin, .joinedDate {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .titlesConteiner > .titles > h1.position, h1.status {
        display: none;
    }

    .userLis > .user > .mainInfo > .position, .status {
        display: none;
    }
}

@media screen and (max-width: 375px){
    .titlesConteiner > .titles > h1.status, h1.image {
        display: none;
    }

    .userLis > .user > .mainInfo > .status, .image {
        display: none;
    }


    .titlesConteiner > .titles > h1.name {
        max-width: 60%;
        background-color: orange;
        border: 1px solid #ff253a;
    }

    .userLis > .user > .mainInfo > .name {
        max-width: 60%;
        background-color: orange;
        border: 1px solid #ff253a;
    }


    .titlesConteiner > .titles > h1.image, .h1.actions {
        max-width: 20%;
        background-color: orange;
        border: 1px solid #ff253a;
    }

    .userLis > .user > .mainInfo > .image, .actions {
        max-width: 20%;
        background-color: orange;
        border: 1px solid #ff253a;
    }
}