<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Pagamentos</title>

    <link rel="shortcut icon" href="../../../assets/icons/favicon_gemic_app.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../components/header/header.css">
    <link rel="stylesheet" href="../../../components/header/headerMediaQuery.css">
    <link rel="stylesheet" href="../../../components/sideBar/sideBar.css">
    <link rel="stylesheet" href="../../../components/sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../../components/footer/footer.css">

    <link rel="stylesheet" href="../../../components/boot/set/set.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttons.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttonsMediaquery.css">
    <link rel="stylesheet" href="../../../components/form/standardForm/standardForm.css">
    <link rel="stylesheet" href="../../../components/form/standardForm/standardFormMediaquery.css">
    <link rel="stylesheet" href="../../../components/inputs/standardInputs/standardInputs.css">
    <link rel="stylesheet" href="../../../components/inputs/searchTools/searchTools.css">
    <link rel="stylesheet" href="../../../components/inputs/standardInputs/standardInputsMediaquery.css">

    <link rel="stylesheet" href="../../../components/boot/selectedIconSideBar.css">

    <link rel="stylesheet" href="../../../assets/fontawesome-free-6.5.1-web/css/all.min.css">
<!--    <script src="https://kit.fontawesome.com/07b3a47c42.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="payment.css">

</head>
<body>

<!-- MOBILE BUTTON FOR SIDEBAR-->
<span id="buttonForBarMobile" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </span>

<menu  id="menu" class="menuBar sidebar-hidden">

    <ul>
        <li id="buttonForBar">
            <i class="fa-regular fa-circle-xmark" id="xmark"></i><i class="fa-solid fa-bars" id="bars"></i>
        </li>

        <li><a href="../../dashboard/dashboard.html"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="../../admin/admin.html"><i class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="../../clients/Client.html"><i class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="../loans.html"><i id="loan" class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="../../cashFlow/dailyTransitions.html"><i class="fa-solid fa-cash-register"></i> Caixa</a></li>
        <li><a href="../../reports/Reports.html"><i class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
        <li><a href="../../configs/aboutCompany.html"><i class="fa-solid fa-briefcase"></i> Acerca</a></li>
        <li><a href="../../../../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>
    </ul>
</menu>

<!--MAIN Conteiner-->
<main class="mainContent">

    <!-- LOGGED NAME AND BUTTON TO PROFILE-->
    <nav class="navBar">
        <span></span>
        <a href="../../admin/userProfile/profile.html" title="Ver meu perfil"><p>Ola Brian Smith <i
                class="fa-solid fa-circle-user"></i></p></a>
    </nav>

    <!--  Conteiner FOR MAIN CONTENT-->
    <div class="mainContentJustifierWithoutSubMenu">
        <!-- SIGN form-->
        <div class="formConteiner">
            <h1 class="formTitle">Fazer pagamento</h1>
            <form action="#" class="standardForm">

                <div class="forInputsConteiner">

                    <div class="forInputs">
                        <h2>Nome do cliente</h2>
                        <p>Jeremias Francisco Tadeu</p>
                    </div>
                </div>
                
                <div class="forInputsConteiner">

                    <div class="forInputs">
                        <label class="standardFormLabel" for="concessionDate">Data de pagamento *</label>
                        <input class="standardFormInput" type="date" id="concessionDate" name="concessionDate" autofocus>
                        <div id="concessionDateDocumentoFeedback" class="feedback"></div>
                    </div>
                </div>
                
                <div class="forInputsConteiner">

                    <div class="forInputs">
                        <label class="standardFormLabel" for="acount">Conta *</label>
                        <input type="text" id="acount" class="searchable-input" placeholder="Digite para pesquisar..." autocomplete="off">
                        <ul class="dropdown hidden">
                            <li value="Ultimo login"></li>
                            <li value="Estado">e-Mola</li>
                            <li value="Estado">m-pesa</li>
                            <li value="Estado">m-Kesh</li>
                            <li value="Estado">Caixa</li>
                            <li value="Estado">Banco</li>
                        </ul>
                        <div id="acountDocumentoFeedback" class="feedback"></div>
                    </div>
                </div>
                
                <div class="forInputsConteiner">

                    <div class="forInputs">
                        <label class="standardFormLabel" for="loanValue">Valor do pagamento *</label>
                        <input class="standardFormInput" type="text" id="loanValue" name="loanValue">
                        <div id="loanValueDocumentoFeedback" class="feedback"></div>
                    </div>
                </div>

                <div class="button-container">
                    <button class="btn btn-cancel" type="reset">Descartar</button>
                    <button class="btn btn-success" type="submit">Submeter</button>
                </div>
            </form>
            
        </div>

    </div>

    <!--  FOOTER-->
    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>
</main>

<script src="../../../components/sideBar/sideBar.js"></script>
<script src="../../../components/sideBar/sideBarMediaquery.js"></script>
<script src="../../../components/inputs/searchTools/searchTools.js"></script>
</body>
</html>