@charset "UTF-8";

.profileDetails {
    display: flex;
    flex-basis: 100%;
    margin: 10px 40px 10px 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--my-box-shadow);

    height: 140px;
    overflow: hidden;
    transition: 1s ease-in-out;
}

.profileDetails:hover {
    height: 450px;
}

.profileName, .sumUp, .personalInformation, .details, .details > h2, p {
    display: flex;
    flex-basis: 100%;
    margin: 5px 0;
    flex-wrap: wrap;
}

.personalInformation, .details, .details {
    border-bottom: 1px dashed var(--myLightBlueButton);
}

.profileName {
    align-items: center;
}

.profileName > h1 {
    font-size: 14pt;
}

.sumUp {
    justify-content: space-between;
    margin-bottom: 40px;
    /*background-color: antiquewhite;*/
}

.sumUp > div.sumUpDetails {
    justify-content: center;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    border: 1px dashed var(--myLightBlueButton);
}

.sumUp > div.sumUpDetails > h3 {
    font-weight: normal;
}

.sumUp > div.sumUpDetails > h3 > .fa-up-long {
    color: limegreen;
}

.sumUp > div.sumUpDetails > h3 > .fa-down-long {
    color: orangered;
}

.personalInformation {

}

#detailsTopic > h2 {
    display: flex;
    flex-basis: 80%;
    justify-content: flex-start;
    align-items: center;
    font-size: 11pt;
    padding-bottom: 10px;
}

.fa-pen-to-square {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
}

#detailsTopic {
    flex-wrap: wrap;
    margin-bottom: 30px;
}