<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../fontawesome-free-6.5.1-web/css/all.min.css">
    <link rel="stylesheet" href="../../../set.css">
    <link rel="stylesheet" href="../../../header/header.css">
    <link rel="stylesheet" href="../../../sideBar/sideBar.css">
    <link rel="stylesheet" href="../../../footer/footer.css">
    <link rel="stylesheet" href="table.css">
    <link rel="stylesheet" href="profileDetails.css">
    <link rel="stylesheet" href="../adminstMediaQuery.css">
    <link rel="stylesheet" href="../../../sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../../header/modal/signIn.css">
    <link rel="stylesheet" href="../../../header/headerMediaQuery.css">
    <link rel="stylesheet" href="../../../header/filterModal/fiterModal.css">
    <title>Administração</title>
</head>
<body>

<!-- SIGN MODAL-->

<div id="myModal" class="modal">
    <div class="modal-content">
        <i class="fa-regular cancelButton fa-circle-xmark" id="modalClose"></i>
        <h1 class="modalTitle">Cadastro de usuário</h1>
        <form action="#" class="signIn" id="sign">

            <div class="labelInputConteiner">
                <label for="fullName">Nome completo</label>
                <input type="text" id="fullName" name="fullName" autofocus>
                <div id="fullNameDocumentoFeedback" class="feedback"></div>
            </div>

            <div class="labelInputConteiner">
                <label for="residence">Moradia</label>
                <input type="text" id="residence" name="residence">
                <div id="residenceDocumentoFeedback" class="feedback"></div>
            </div>

            <div class="labelInputConteiner">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email">
                <div id="emailDocumentoFeedback" class="feedback"></div>
            </div>

            <div class="labelInputConteiner">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password">
                <div id="passwordDocumentoFeedback" class="feedback"></div>
            </div>

            <div class="labelInputConteiner">
                <label for="passwordConfirm">Confirmar a senha</label>
                <input type="password" id="passwordConfirm" name="passwordConfirm">
                <div id="passwordConfirmDocumentoFeedback" class="feedback"></div>
            </div>

            <!-- Adicione mensagens de validação para os campos de rádio -->

            <div class="labelInputConteiner radio">
                <div class="radioConteiner">
                    <input type="radio" name="position" id="owner">
                    <label for="owner">Proprietário</label>
                </div>
                <p>Melhor para proprietários de negócios e administradores da empresa.</p>
            </div>

            <div class="labelInputConteiner radio">
                <div class="radioConteiner">
                    <input type="radio" name="position" id="manager">
                    <label for="manager">Gerente</label>
                </div>
                <p>Melhor para gerentes e administradores de empresa.</p>
            </div>

            <div class="labelInputConteiner radio">
                <div class="radioConteiner">
                    <input type="radio" name="position" id="HR">
                    <label for="HR">Gestor RH</label>
                </div>
                <p>Melhor para gestores de recursos humanos e administradores de pessoal da empresa.</p>
            </div>

            <div class="labelInputConteiner radio">
                <div class="radioConteiner">
                    <input type="radio" name="position" id="financialManagers">
                    <label for="financialManagers">Gestor financeiro</label>
                </div>
                <p>Melhor para gestores financeiros e administradores de finanças da empresa.</p>
            </div>

            <div class="labelInputConteiner radio">
                <div class="radioConteiner">
                    <input type="radio" name="position" id="loanOfficers">
                    <label for="loanOfficers">Agente de crédito</label>
                </div>
                <p>Melhor para agentes de crédito responsáveis pela concessão e análise de empréstimos na empresa.</p>
                <p class="validationMessage" id="positionValidation"></p>
            </div>

            <!-- Adicione mensagens de validação para outros campos de rádio se necessário -->

            <div class="button-container">
                <button class="resetForm" type="reset" onclick="resetForm()">Descartar</button>
                <button class="submitForm" type="submit">Submeter</button>
            </div>
        </form>
        <h1 class="modalTitle"></h1>
    </div>
</div>

<!-- FILTER MODAL-->

<form action="#" class="dropDown" id="popupForm">
    <i class="fa-regular cancelButton fa-circle-xmark" id="cancelButton"></i>
    <h1>Opção de filtragem</h1>

    <div class="PopUpConteiner">
        <label for="byPosition">Por Cargo:</label>
        <select name="by" id="byPosition">
            <option value="Cargo"></option>
            <option value="Ultimo login">Proprietário</option>
            <option value="Estado">Gerente</option>
            <option value="Estado">Gestor RH</option>
            <option value="Estado">Gestor Financeiro</option>
            <option value="Estado">Gestor De Crédito</option>
        </select>

        <label for="byStatus">Por Estado:</label>
        <select name="by" id="byStatus">
            <option value="Ultimo login"></option>
            <option value="Estado">Activo</option>
            <option value="Estado">Desativado</option>
        </select>
    </div>

    <div class="ButtonsConteiner">
        <button class="deny" type="reset">Repor</button>
        <button class="accept" type="submit">Filtrar</button>
    </div>

</form>

<!--MENU BUTTON-->
<span id="buttonForBarMobile" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </span>

<!--SIDEBAR-->
<aside id="menu" class="menuBar sidebar-hidden">

    <ul>

        <li style="height: 50px;border-bottom: 3px solid var(--myLight); justify-content: center">
            <span><i class="fa-regular fa-circle-xmark" id="xmark"></i><i class="fa-solid fa-bars" id="bars"></i></span>
        </li>

        <li><a href="../../../views/dashboard/Dashboard.html"><i
                class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="../../../views/adminst/Administração.html"><i
                class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="../../../views/clients/Clientes.html"><i
                class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="../../../views/loans/Empréstimos.html"><i
                class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="../../../views/cashFlow/Fluxo%20de%20caixa.html"><i
                class="fa-solid fa-cash-register"></i> Caixa</a></li>
        <li><a href="../../../views/reports/Reports.html"><i
                class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
        <li><a href="../../../views/configs/Configurações.html"><i
                class="fa-solid fa-gear"></i> Configurações</a></li>
        <li><a href="../../../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>

    </ul>
</aside>

<main class="topFoot">

<!--TOPBAR-->
    <nav class="topBar">
        <p>Ola Brian Smith <i class="fa-solid fa-circle-user"></i></p>
    </nav>

<!--SUBTOPBAR-->
    <nav class="topBar2">
        <p class="search">
            <label for="search" style="display: none"></label>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="search" id="search" value="Pesquisar">
        </p>
        <div class="mobileDisplay">
            <button id="showPopup" type="button" value="Filtrar"><i class="fa-solid fa-filter"></i>Filtrar</button>

            <button class="add" id="showModal"><i class="fa-solid fa-user-plus"></i></button>
        </div>
    </nav>

<!--MAIN-->
    <div class="forScroll">

<!--PROFILEDATA-->
        <section class="profileSection">
            <article class="profileDetails">
                <span class="image"><i class="fa-solid fa-circle-user"></i></span>

                <div class="sumUp">
                    <h2>Finalidade</h2>
                    <h2>Em curso</h2>
                    <h2>Abatidas</h2>
                </div>

                <div>
                    <h2 class="details">Detalhes</h2>
                    <div class="name">
                        <h2>Nome</h2>
                        <p>Helder Juliao Biza</p>
                    </div>

                    <div class="UserName">
                        <h2>Nome</h2>
                        <p>Helder Juliao Biza</p>
                    </div>

                    <div class="position">
                        <h2>Nome</h2>
                        <p>Helder Juliao Biza</p>
                    </div>

                    <div class="accessLevel">
                        <h2>Nome</h2>
                        <p>Helder Juliao Biza</p>
                    </div>

                    <div class="placeOfBirth">
                        <p>Inhambane</p>
                    </div>

                    <div class="docType">
                        <p>BI</p>
                    </div>

                    <div class="docNumber">
                        <p>846383294794U</p>
                    </div>

                    <div class="province">
                        <p>Maputo</p>
                    </div>

                    <div class="district">
                        <p>Boane</p>
                    </div>

                    <div class="neighborhood">
                        <p>Soweto, Bairro 01</p>
                    </div>

                    <div class="street">
                        <p>Av. Namaacha</p>
                    </div>

                    <div class="block">
                        <p>Quarteirao 2</p>
                    </div>

                    <div class="homeNumber">
                        <p>Casa 1954</p>
                    </div>

                </div>

            </article>

            <article class="personalLoans">
                <div class="clientName">
                    <h2>Nome</h2>
                    <p>Gilberto Cassamo</p>
                </div>
                <div class="clientNumber">
                    <h2>Contacto</h2>
                    <p>874000778</p>
                </div>
                <div class="clientResidence">
                    <h2>Residencia</h2>
                    <p>Maputo, Boane</p>
                </div>
                <div class="clientStatus">
                    <h2>Estado</h2>
                    <p>Activo</p>
                </div>
                <div class="clientDetails">
                    <h2>Visualizas</h2>
                    <p>+</p>
                </div>
                <div class="clientEdit">
                    <h2>Editar</h2>
                    <p>@</p>
                </div>
                <div class="clientActions">
                    <h2>Accoes</h2>
                    <p>Desativar / activar</p>
                </div>
            </article>

            <article class="invoices">
                <div class="operationDate"><h1>Data</h1></div>
                <div class="operationDescription"><h1>Descricao</h1></div>
                <div class="operationType"><h1>Dperacao</h1></div>
                <div class="operationValue"><h1>Valor</h1></div>
            </article>
        </section>

<!--TABLE-->
        <div class="tableConteiner">
            <table>
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Cargo</th>
                    <th>Data de Último Login</th>
                    <th>Data de Cadastro</th>
                    <th>Estado</th>
                    <th class="actionEye">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr class="user">
                    <td>Alcino de Almeida Martins Tsengo</td>
                    <td>alcinomachavene@gmail.com</td>
                    <td>Gestor de Recursos Humanos</td>
                    <td>17-09-2024</td>
                    <td>17-09-2024</td>
                    <td>Ativo</td>
                    <td class="actionEye"><i class="fa-solid fa-eye"></i></td>
                </tr>
                <!-- Repita este bloco de tr para cada usuário -->

            </table>
        </div>

    </div>

    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>
</main>

<script src="../../../header/filterModal/filterModal.js"></script>
<script src="../../../sideBar/sideBar.js"></script>
<script src="../../../header/modal/signIn.js"></script>
</body>
</html>