<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../fontawesome-free-6.5.1-web/css/all.min.css">
    <link rel="stylesheet" href="../../../set.css">
    <link rel="stylesheet" href="../../../header/header.css">
    <link rel="stylesheet" href="../../../sideBar/sideBar.css">
    <link rel="stylesheet" href="../../../footer/footer.css">
    <link rel="stylesheet" href="table.css">
    <link rel="stylesheet" href="profileDetails.css">
    <link rel="stylesheet" href="graphic/graphic.css">
    <link rel="stylesheet" href="../adminstMediaQuery.css">
    <link rel="stylesheet" href="../../../sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../../header/modal/signIn.css">
    <link rel="stylesheet" href="../../../header/headerMediaQuery.css">
    <link rel="stylesheet" href="../../../header/filterModal/fiterModal.css">
    <link rel="stylesheet" href="profileDetailMediaQuery.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <title>Administração</title>
</head>
<body>

<!-- SIGN MODAL-->

<div id="myModal" class="modal">
    <div class="modal-content">
        <i class="fa-regular cancelButton fa-circle-xmark" id="modalClose"></i>
        <h1 class="modalTitle">Cadastro de usuário</h1>
        <form action="#" class="signIn" id="sign">

            <div class="labelInputConteiner">
                <label for="fullName">Nome completo</label>
                <input type="text" id="fullName" name="fullName" autofocus>
                <div id="fullNameDocumentoFeedback" class="feedback"></div>
            </div>

            <div class="labelInputConteiner">
                <label for="residence">Moradia</label>
                <input type="text" id="residence" name="residence">
                <div id="residenceDocumentoFeedback" class="feedback"></div>
            </div>

            <div class="labelInputConteiner">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email">
                <div id="emailDocumentoFeedback" class="feedback"></div>
            </div>

            <div class="labelInputConteiner">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password">
                <div id="passwordDocumentoFeedback" class="feedback"></div>
            </div>

            <div class="labelInputConteiner">
                <label for="passwordConfirm">Confirmar a senha</label>
                <input type="password" id="passwordConfirm" name="passwordConfirm">
                <div id="passwordConfirmDocumentoFeedback" class="feedback"></div>
            </div>

            <!-- Adicione mensagens de validação para os campos de rádio -->

            <div class="labelInputConteiner radio">
                <div class="radioConteiner">
                    <input type="radio" name="position" id="owner">
                    <label for="owner">Proprietário</label>
                </div>
                <p>Melhor para proprietários de negócios e administradores da empresa.</p>
            </div>

            <div class="labelInputConteiner radio">
                <div class="radioConteiner">
                    <input type="radio" name="position" id="manager">
                    <label for="manager">Gerente</label>
                </div>
                <p>Melhor para gerentes e administradores de empresa.</p>
            </div>

            <div class="labelInputConteiner radio">
                <div class="radioConteiner">
                    <input type="radio" name="position" id="HR">
                    <label for="HR">Gestor RH</label>
                </div>
                <p>Melhor para gestores de recursos humanos e administradores de pessoal da empresa.</p>
            </div>

            <div class="labelInputConteiner radio">
                <div class="radioConteiner">
                    <input type="radio" name="position" id="financialManagers">
                    <label for="financialManagers">Gestor financeiro</label>
                </div>
                <p>Melhor para gestores financeiros e administradores de finanças da empresa.</p>
            </div>

            <div class="labelInputConteiner radio">
                <div class="radioConteiner">
                    <input type="radio" name="position" id="loanOfficers">
                    <label for="loanOfficers">Agente de crédito</label>
                </div>
                <p>Melhor para agentes de crédito responsáveis pela concessão e análise de empréstimos na empresa.</p>
                <p class="validationMessage" id="positionValidation"></p>
            </div>

            <!-- Adicione mensagens de validação para outros campos de rádio se necessário -->

            <div class="button-container">
                <button class="resetForm" type="reset" onclick="resetForm()">Descartar</button>
                <button class="submitForm" type="submit">Submeter</button>
            </div>
        </form>
        <h1 class="modalTitle"></h1>
    </div>
</div>

<!-- FILTER MODAL-->

<form action="#" class="dropDown" id="popupForm">
    <i class="fa-regular cancelButton fa-circle-xmark" id="cancelButton"></i>
    <h1>Opção de filtragem</h1>

    <div class="PopUpConteiner">
        <label for="byPosition">Por Cargo:</label>
        <select name="by" id="byPosition">
            <option value="Cargo"></option>
            <option value="Ultimo login">Proprietário</option>
            <option value="Estado">Gerente</option>
            <option value="Estado">Gestor RH</option>
            <option value="Estado">Gestor Financeiro</option>
            <option value="Estado">Gestor De Crédito</option>
        </select>

        <label for="byStatus">Por Estado:</label>
        <select name="by" id="byStatus">
            <option value="Ultimo login"></option>
            <option value="Estado">Activo</option>
            <option value="Estado">Desativado</option>
        </select>
    </div>

    <div class="ButtonsConteiner">
        <button class="deny" type="reset">Repor</button>
        <button class="accept" type="submit">Filtrar</button>
    </div>

</form>

<!--MENU BUTTON-->

<span id="buttonForBarMobile" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </span>

<!--SIDEBAR-->

<aside id="menu" class="menuBar sidebar-hidden">
    <ul>

        <li style="height: 50px;border-bottom: 3px solid var(--myLight); justify-content: center">
            <span><i class="fa-regular fa-circle-xmark" id="xmark"></i><i class="fa-solid fa-bars" id="bars"></i></span>
        </li>

        <li><a href="../../../views/dashboard/Dashboard.html"><i
                class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="../../../views/adminst/Administração.html"><i
                class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="../../../views/clients/Clientes.html"><i
                class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="../../../views/loans/Empréstimos.html"><i
                class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="../../../views/cashFlow/Fluxo%20de%20caixa.html"><i
                class="fa-solid fa-cash-register"></i> Caixa</a></li>
        <li><a href="../../../views/reports/Reports.html"><i
                class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
        <li><a href="../../../views/configs/Configurações.html"><i
                class="fa-solid fa-gear"></i> Configurações</a></li>
        <li><a href="../../../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>

    </ul>
</aside>

<!-- MAIN PRINCIPAL-->
<main class="topFoot">

    <!--TOPBAR-->

    <nav class="topBar">
        <a href="../Administração.html" title="voltar a lista dos usuários"><i class="fa-solid fa-circle-arrow-left"></i></a>
        <a href="profile.html"><p>Ola Brian Smith <i class="fa-solid fa-circle-user"></i></p></a>
    </nav>

    <!--MAIN-->
    <div class="forScroll">

        <!--PROFILEDATA-->
        <section class="profileSection">

            <article class="profileDetails">
                <button title="Editar perfil"><i class="fa-solid fa-pen-to-square" id="showModal"></i></button>

                <div class="personalInformation">

                    <div class="profileName">
                        <i class="fa-solid fa-circle-user"></i>
                        <h1>Helder Juliao Biza</h1>
                    </div>

                    <div class="details" id="detailsTopic">
                        <h2>Detalhes</h2>
                    </div>

                    <div class="details" id="UserName">
                        <h2>E-mail</h2>
                        <p>helderbiza@gmail.com</p>
                    </div>

                    <div class="details" id="position">
                        <h2>Cargo</h2>
                        <p>Gestor de credito</p>
                    </div>

                    <div class="details" id="status">
                        <h2>Estado</h2>
                        <p>Ativo</p>
                    </div>

                </div>

<!--                SUMMARY BY USER-->
                <div class="sumUp">
                    <div class="sumUpDetails" id="finalized">
                        <h2>Finalizados</h2>
                        <h3>76<i class="fa-solid fa-up-long"></i><!--<i class="fa-solid fa-down-long"></i>--></h3>
                    </div>
                    <div class="sumUpDetails" id="ongoing">
                        <h2>Em curso</h2>
                        <h3>31<!--<i class="fa-solid fa-up-long"></i>--><i class="fa-solid fa-down-long"></i></h3>
                    </div>
                    <div class="sumUpDetails" id="shot-down">
                        <h2>Abatidos</h2>
                        <h3>9<i class="fa-solid fa-up-long"></i><!--<i class="fa-solid fa-down-long"></i>--></h3>
                    </div>
                </div>

            </article>
        </section>

        <!--TABLES-->
        <div class="tableConteiner">
            <table>
                <thead>
                <tr>
                    <th colspan="5" class="TableTitle"> Lista de empréstimos por usuário</th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor concedido</th>
                    <th>Prazo</th>
                    <th>Estado</th>
                    <th class="actionEye">Visualizar</th>
                </tr>
                </thead>
                <tbody>
                <tr class="user">
                    <td>Alcino de Almeida Martins Tsengo</td>
                    <td>13 700,00</td>
                    <td>17-09-2024</td>
                    <td>Em dia</td>
                    <td class="actionEye" title="Visualisar este empréstimo"><i class="fa-solid fa-eye"></i></td>
                </tr>
                <!-- Repita este bloco de tr para cada usuário -->

            </table>

            <table>
                <thead>
                <tr>
                    <th colspan="5" class="TableTitle">Lista de movimentos por usuário</th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Operação</th>
                    <th>Valor</th>
                    <!--                    <th class="actionEye">Visualizar</th>-->
                </tr>
                </thead>
                <tbody>
                <tr class="user">
                    <td>17-09-2024</td>
                    <td>Compra de monitor HP 32"</td>
                    <td>Saida</td>
                    <td>11 582,00</td>
                    <!--                    <td class="actionEye"><i class="fa-solid fa-eye"></i></td>-->
                </tr>
                <!-- Repita este bloco de tr para cada usuário -->

            </table>
        </div>

        <!--GRAPHIC-->
        <nav class="switch">
            <button onclick="changeChart(0)" class="switchButton active" id="monthly">Diário</button>
            <button onclick="changeChart(1)" class="switchButton" id="Yearly">Mensal</button>
            <button onclick="changeChart(2)" class="switchButton" id="monthlyAnalysis">Por dia</button>
            <button onclick="changeChart(3)" class="switchButton" id="YearlyAnalysis">Por mês</button>
        </nav>
        <div class="chart-container">
            <canvas id="salesChart" class="first"></canvas>
            <canvas id="salesChart1"></canvas>
            <canvas id="salesChart2"></canvas>
            <canvas id="salesChart3"></canvas>
        </div>

    </div>

<!--    FOOTER-->
    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>
</main>

<script src="../../../header/filterModal/filterModal.js"></script>
<script src="../../../sideBar/sideBar.js"></script>
<script src="../../../header/modal/signIn.js"></script>
<script src="graphic/graphic.js"></script>
<!--<script src="graphic/chart.js-4.4.2.tgz"></script>-->
</body>
</html>