@charset "UTF-8";


body, main{
    overflow: hidden;
}

.ScrollAllContent{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 9px;
    height: calc(100vh - 151px);
    overflow-x: auto;
    overflow-y: auto;
}

.ScrollTable{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 40px;
    overflow-x: auto;
    overflow-y: auto;
}

.tableConteiner{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    padding: 10px;
}

.tableConteiner > .TableTitle{
    background-color: var(--myLight);
}

table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    border: 1px solid var(--myLightBlueButton);
    background-color: white;
    margin: 30px auto;
    padding: 0;
    box-shadow: var(--my-box-shadow);
}

thead, tbody{
}


th, td {
    /*min-width: 170px;*/
    padding: 8px;
    border: 1px solid var(--myLightBlueButton);
    text-align: center;
}

td.actionEye, th.actionEye{
    text-align: center;
}

th {
    color: var(--myLight);
    background-color: white;
}
/*.fa-circle-user {*/
/*    color: blue; !* ou qualquer outra cor que você deseje *!*/
/*}*/
/*.fa-ellipsis-vertical {*/
/*    color: gray; !* ou qualquer outra cor que você deseje *!*/
/*}*/
