<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Dashboard</title>

    <link rel="stylesheet" href="../../components/header/header.css">
    <link rel="stylesheet" href="../../components/header/headerMediaQuery.css">
    <link rel="stylesheet" href="../../components/sideBar/sideBar.css">
    <link rel="stylesheet" href="../../components/sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../components/footer/footer.css">

    <link rel="stylesheet" href="../../components/boot/set/set.css">
    <link rel="stylesheet" href="../../components/boot/buttons.css">
    <link rel="stylesheet" href="../../../src/components/table/table.css">

    <link rel="stylesheet" href="paymentReport.css">
    <script src="https://kit.fontawesome.com/07b3a47c42.js" crossorigin="anonymous"></script>
</head>
<body>

<menu class="menuBar sidebar-hidden hide">

    <ul>
        <li id="buttonForBar" onclick="closeOpen()">
            <i class="fa-solid fa-bars"></i>
        </li>

        <li><a href="../../views/dashboard/Dashboard.html"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="../admin/Administracao.html"><i class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="../clients/Client.html"><i class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="../loans/loans.html"><i class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="../../views/cashFlow/cashFlow.html"><i class="fa-solid fa-cash-register"></i> Caixa</a></li>
        <li><a href="../../views/reports/Reports.html"><i class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
        <li><a href="../../views/configs/Configurações.html"><i class="fa-solid fa-gear"></i> Configurações</a></li>
        <li><a href="../../../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>
    </ul>
</menu>

<main class="mainContent">

    <nav class="navBar">
        <span></span>
        <p>Ola Brian Smith <i class="fa-solid fa-circle-user"></i></p>
    </nav>

    <!--  CONTEINER FOR MAIN CONTENT-->
    <div class="mainContentJustifierWithoutSubMenu">

        <div class="arangeSmallContent">

            <!-- SIGN form-->
            <div class="paymentDataConteiner">

                <article>

                    <div class="firstSideOfPaiment">
                        <h1 class="paymentTitle">Clientes</h1>
                        <fieldset class="titleAndDataConteiner">
                            <legend>Activos</legend>
                            <p>Homens 55</p>
                            <p>Mulheres 45</p>
                            <p>Total 100</p>
                        </fieldset>

                        <fieldset class="titleAndDataConteiner">
                            <legend>Finalizados</legend>
                            <p>Homens 55</p>
                            <p>Mulheres 45</p>
                            <p>Total 100</p>
                        </fieldset>

                        <fieldset class="titleAndDataConteiner">
                            <legend>Com atraso</legend>
                            <p>Homens 55</p>
                            <p>Mulheres 45</p>
                            <p>Total 100</p>
                        </fieldset>

                        <fieldset class="titleAndDataConteiner">
                            <legend>Em risco</legend>
                            <p>Homens 40</p>
                            <p>Mulheres 60</p>
                            <p>Total 100</p>
                        </fieldset>

                        <fieldset class="titleAndDataConteiner">
                            <legend>Abatidos</legend>
                            <p>Homens 40</p>
                            <p>Mulheres 60</p>
                            <p>Total 100</p>
                        </fieldset>
                    </div>

                    <div class="secundSideOfPaiment">
                        <h1 class="paymentTitle">Finanças</h1>
                        <div class="alineData">

                            <fieldset class="titleAndDataConteiner">
                                <legend>Valor concedido</legend>
                                <h2>No mês em curso</h2>
                                <p>9 746,00</p>
                                <h2>Ao longo do ano</h2>
                                <p>103 456,00</p>
                            </fieldset>

                            <fieldset class="titleAndDataConteiner">
                                <legend>Valor pendente</legend>
                                <h2>No mês em curso</h2>
                                <p>9 746,00</p>
                                <h2>Ao longo do ano</h2>
                                <p>103 456,00</p>
                            </fieldset>
                        </div>

                        <div class="alineData">
                            <fieldset class="titleAndDataConteiner">
                                <legend>Valor reembolsado</legend>
                                <h2>No mês em curso</h2>
                                <p>9 746,00</p>
                                <h2>Ao longo do ano</h2>
                                <p>103 456,00</p>
                            </fieldset>

                            <fieldset class="titleAndDataConteiner">
                                <legend>De meses anteriores</legend>
                                <h2>Ao longo do ano</h2>
                                <p>103 456,00</p>
                            </fieldset>
                        </div>

                        <div class="alineData">

                            <fieldset class="titleAndDataConteiner">
                                <legend>Lucro</legend>
                                <h2>De juros</h2>
                                <p>9 746,00</p>
                                <h2>De Multa</h2>
                                <p>456,00</p>
                                <h2>Total</h2>
                                <p>103 456,00</p>
                            </fieldset>

                            <fieldset class="titleAndDataConteiner">
                                <legend>Lucro anual</legend>
                                <h2>De juros</h2>
                                <p>9 746,00</p>
                                <h2>De Multa</h2>
                                <p>456,00</p>
                                <h2>Total</h2>
                                <p>1 103 456,00</p>
                            </fieldset>

                        </div>


                    </div>

                    <div class="firstSideOfPaiment">
                        <h1 class="paymentTitle">Contas</h1>
                        <fieldset class="titleAndDataConteiner">
                            <legend>M-pesa</legend>
                            <h2>Saldo</h2>
                            <p>45 976,84</p>
                        </fieldset>

                        <fieldset class="titleAndDataConteiner">
                            <legend>E-mola</legend>
                            <h2>Saldo</h2>
                            <p>45 976,84</p>
                        </fieldset>

                        <fieldset class="titleAndDataConteiner">
                            <legend>M-kesh</legend>
                            <h2>Saldo</h2>
                            <p>45 976,84</p>
                        </fieldset>

                        <fieldset class="titleAndDataConteiner">
                            <legend>Absa</legend>
                            <h2>Saldo</h2>
                            <p>45 976,84</p>
                        </fieldset>

                        <fieldset class="titleAndDataConteiner">
                            <legend>BCI</legend>
                            <h2>Saldo</h2>
                            <p>45 976,84</p>
                        </fieldset>
                    </div>

                </article>
                <h1 class="formTitleBottom"></h1>
            </div>

        </div>

    </div>

    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>

</main>

</body>
</html>