@charset "UTF-8";

@media screen and (max-width: 1220px) {

    .acountsInformations > .titleAndDataConteiner{
        flex-basis: 100%;
    }
  
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1115px) {

    .acountsInformations > .titleAndDataConteiner{
        flex-basis: 30%;
    }

}

@media screen and (max-width: 1090px) {

}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 540px) {

}

@media screen and (max-width: 456px) {

    .acountsInformations > .titleAndDataConteiner{
        flex-basis: 100%;
    }
}

@media screen and (max-width: 400px) {

}