@charset "UTF-8";


h2{
    display: flex;
    flex-basis: 100%;
    padding: 10px 0;
}

.formConteiner > form > .firstSideOfPaiment{
    margin: 0 20px;
    /*height: 360px;*/
}

.titleAndDataConteiner > h3{
    display: flex;
    flex-basis: 100%;
}

.titleAndDataConteiner > p{
    display: flex;
    flex-basis: 50%;
    justify-content: space-around;
}

.titleAndDataConteiner {
      display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px 0;
}

.valueAndTherm{
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.valueAndTherm > .titleAndDataConteiner{
    display: flex;
    /*background-color: gold;*/
    /*border: 1px solid red;*/
    justify-content: center;
}

.valueAndTherm > .titleAndDataConteiner > label{
    display: flex;
    justify-content: center;
}

/* SET DATATABLE INPUTS */

div.dt-conteiner .dt-search input, .dt-input{
    border: 1px solid rgba(204, 204, 204, 0.35) !important;
    padding: 5px !important;
}

input[type="text"], input[type="email"],
input[type="password"], input[type="number"],
input[type="tel"],
input[type="search"],input[type="date"],
select{
    display: flex;
    flex-basis: 100%;
    padding: 10px;
    border: 1px solid rgba(204, 204, 204, 0.35);
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"], input[type="email"],
input[type="password"], input[type="number"],
input[type="tel"],
input[type="search"],
select {
    margin-bottom: 10px;
}

