/* styles.css */

/* Estilos do modal */

input:focus {
    border: 2px solid var(--myLightBlue); /* Altere as propriedades da borda conforme necessário */
    outline: none; /* Remove o contorno padrão */
}

.modal {
    display: none;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 0;
    background-color: rgba(0, 123, 255, 0.25);
    backdrop-filter: blur(10px);
}

.modal-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fefefe;
    margin: auto;
    border-radius: 10px;
    width: 600px;
    height: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.23);
}

#modalClose {
display: flex;
    flex-basis: 100%;
    color: rgba(255, 0, 0, 0.1);
    margin: 0;
    justify-content: flex-end;
}

#modalClose:hover{
    color: rgba(255, 0, 0, 0.75);
}

.signIn{
    margin: auto;
    border-radius: 5px;
    max-height: 60vh;
    overflow: auto;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos adicionais */

.labelInputConteiner{
    display: flex;
    flex-basis: 100%;
    margin: auto;
    max-width: 90%;
    flex-wrap: wrap;
    /*background-color: orange;*/
}

h1.modalTitle{
    display: flex;
    flex-basis: 100%;
    height: 50px;
    font-size: 18pt;
    margin: 0 0 20px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.radioConteiner{
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.radioConteiner > input{
    margin-right: 10px;
}
.radioConteiner > label{
    font-weight: bold;
}

.radio{
    padding: 20px 0;
    border-bottom: 1px dashed var(--myLightBlueButton);
}

.button-container{
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
}

label {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 5px;
}

input[type="text"],input[type="email"],
input[type="password"],
select {
    display: flex;
    flex-basis: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-container {
    text-align: right;
}

.button-container button.resetForm{
    padding: 10px 20px;
    color: rgba(255, 0, 0, 0.75);
    background-color: rgba(255, 0, 0, 0.1);
    transition: .5s;
    border-radius: 4px;
}

.button-container button.resetForm:hover{
    background-color: rgba(255, 0, 0, 0.75);
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.button-container button.submitForm {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--myLightBlue);
    color: #fff;
    cursor: pointer;
}

.button-container button.submitForm:hover{
    color: var(--myLightBlue);
    background-color: var(--myLightBlueButton);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
