@charset "UTF-8";


.arangeSmallContent{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    /*background-color: #202B46;*/
    justify-content: center;
}

.paymentDataConteiner{
    display: flex;
    max-width: 600px;
    box-shadow: var(--my-box-shadow);
    background-color: white;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-radius: 10px;
}

.paymentDataConteiner > h1.paymentTitle{
    display: flex;
    flex-basis: 100%;
    margin: 20px;
    font-size: 14pt;
    /*background-color: #161616;*/
}

.paymentDataConteiner > article{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    /*border: 1px solid purple;*/
}

.firstSideOfPaiment{
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    max-width: 200px;
    /*border: 1px solid green;*/
    padding: 0 20px;
}

.secundSideOfPaiment{
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    /*border: 1px solid red;*/
   align-items: flex-start;
}

.alineData{
    display: flex;
    flex-basis: 100%;
}

.titleAndDataConteiner {
      display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px 0;
}

fieldset{
    display: flex;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid darkgrey;
    padding: 10px;
    justify-content: center;
    width: 150px;
}

fieldset > legend{
    font-weight: bold;
}

fieldset > p{
    background-color: whitesmoke;
    display: flex;
    flex-basis: 100%;
    margin: 5px;
    border-radius: 3px;
}

h2{
    display: flex;
    flex-basis: 100%;
    padding: 10px 0;
}

.titleAndDataConteiner > p{
    display: flex;
    justify-content: space-around;
}

/*table*/

div.dt-search{
    display: none;
    background-color: black !important;
}
