@charset "UTF-8";

html{
    overflow: hidden;
    /* color: #636B7E; */
}

/* Estilo para inputs ao receber foco */
input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus
 {
    border: 1px solid #fff!important; /* Cor diretamente aplicada */
    outline: none; /* Remove o contorno padrão */
    box-shadow: 0 0 20px #add8e68b; /* Sombra aplicada no foco */
}


/* Estilos para a barra de rolagem nos navegadores baseados em WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(30, 107, 215, 0.08); /* Cor do track */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(62, 151, 255, 0.15); /* Cor do thumb */
    border-radius: 5px;
}

/* Estilo da barra de rolagem no Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(62, 151, 255, 0.15) rgba(30, 107, 215, 0.08); /* Cor do thumb e track */
}

/* Para navegadores legados como o Internet Explorer */
body {
    -ms-overflow-style: none; /* Remove a barra de rolagem no IE */
}

body::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem nos navegadores baseados em WebKit */
}

/* FONTE */
.quattrocento-sans-regular {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .quattrocento-sans-bold {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .quattrocento-sans-regular-italic {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .quattrocento-sans-bold-italic {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  


/* /////////////////////////////////////////////// ///////*/

body{
    background-color: whitesmoke;
    overflow: auto;
}

main{
    overflow: auto;
}

/**/

*[value]{
    color: var(--myLight);
}



:root{
    --myBlack: #161616;
    --myLight: #636B7E;
    /* --myBlue: #202B46; */
    --myBlue: #0E1C2B;
    --myLightBlue: #3A93C2;
    --myLightBlueButton: #E9F3FF;
    --myLightBlueOpac: rgba(0, 0, 255, 0.15);
    --my-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}


*{
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: .3s ease-in-out;
    scroll-behavior: smooth;
    font-size: 10pt;
    font-family: Quattrocento Sans, sans-serif;
}

a{
    color: var(--myLight);
}

i{
    color: var(--myLightBlue);
    font-size: 14pt;
    cursor: pointer;
    transition: .3s ease-in-out;

}

input{
    
    border: 1px solid whitesmoke;
}

/*//////////////////////////////////// MAIN CONTET DIAGRAMER /////////////////////////////////////////*/

.mainContentJustifier, .mainContentJustifierWithoutSubMenu{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin: 0 9px;
    overflow-x: auto;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: center;
}

.mainContentJustifier{
    height: calc(100vh - 130px);
    max-width: 1300px;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .mainContentJustifier{
    justify-content: flex-start;

}
}

.mainContentJustifierWithoutSubMenu{
    flex-wrap: wrap;
    align-items: center;
    max-width: 1300px;
    overflow: auto;
    height: calc(100vh - 75px);
    flex-direction: row;
}


/* ?\lllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
