@charset "UTF-8";

@media (max-width: 730px) {

    .forInputsConteiner {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
    }

    .forInputs{
        width: 100%;
    }

    .formConteiner{
        flex-basis: 100%;
    }
}