.btn {
    display: flex;
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    height: 40px;
    /*margin: 20px;*/
    align-items: center;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

/*BOTAO SUCCESS*/

.btn-success {
    background-color: lightgreen;
    color: darkgreen;
}

.btn-success > i{
    color: darkgreen;
}

.btn-success:hover {
    background-color: #ccffcc;
    color: green;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2); /* Aumentou a opacidade da sombra */
}

.btn-success:hover > i{
    color: green;
}

/*BOTAO WARNING*/

.btn-warning {
    background-color: #ffffcc;
    color: darkorange;
}

.btn-warning > i{
    color: darkorange;
}

.btn-warning:hover {
    background-color: #ffff99;
    color: orange;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2); /* Aumentou a opacidade da sombra */
}

.btn-warning:hover > i{
    color: orange;
}

/*BOTAO CANCEL*/

.btn-cancel {
    background-color: #ffcccc;
    color: darkred;
}

.btn-cancel > i{
    color: darkred;
}

.btn-cancel:hover {
    background-color: #ff9999;
    color: red;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2); /* Aumentou a opacidade da sombra */
}

.btn-cancel:hover > i{
    color: red;
}


/* BOTAO DEFAULT*/

.btn-default {
    background-color: lightblue;
    color: darkblue;
}

.btn-default > i{
    color: darkblue;
}

.btn-default:hover {
    background-color: #99ccff;
    color: blue;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2); /* Aumentou a opacidade da sombra */
}

.btn-default:hover > i{
    color: blue;
}