@charset "UTF-8";

/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.quattrocento-sans-regular {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quattrocento-sans-bold {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.quattrocento-sans-regular-italic {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.quattrocento-sans-bold-italic {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* /////////////////////////////////////////////// ///////*/

body{
    background-color: whitesmoke;
}


* {
    font-family: "Quattrocento Sans", sans-serif;
    scrollbar-color: rgba(62, 151, 255, 0.75) rgba(30, 107, 215, 0.15); /* Cor da barra de rolagem e da área de fundo da barra de rolagem */
    scrollbar-width: thin; /* Largura da barra de rolagem */
    scroll-behavior: smooth;
    color: var(--myLight);
}

*[value]{
    color: var(--myLight);
}



:root{
    --myBlack: #161616;
    --myLight: #636B7E;
    --myBlue: #202B46;
    --myLightBlue: #3E97FF;
    --myLightBlueButton: #E9F3FF;
    --myLightBlueOpac: rgba(0, 0, 255, 0.15);
    --my-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}


*{
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: .3s ease-in-out;
    scroll-behavior: smooth;
    color: var(--myBlack);
    /*font-family: Verdana, sans-serif;*/
    font-size: 10pt;
}


