@charset "UTF-8";

@media screen and (max-width: 700px) {

    .mobileDisplay {
        height: 50%;
    }


    .topBar2 {
        flex-wrap: wrap;
        height: 120px;
        justify-content: space-around;
    }


    .topBar2 > p {
        flex-basis: 100%;
        max-height: 40px;
    }
    .topBar2 > p.search {
        flex-basis: 100%;
        justify-content: flex-start;
        text-align: left;
    }

    .topBar2 > p > input#search {
        flex-basis: 100%;
    }

    .topBar2 > button#showPopup {
        flex-basis: 50%;
        max-height: 40px;
        max-width: 200px;
        margin: 0 10px;
    }

    .topBar2 > button.add {
        flex-basis: 50%;
        height: 40px;
        margin: 0 10px;
    }

    .dropDown {

    }

    .topBar2 {
        padding: 0 20px;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 700px) {

    .mobileDisplay {
        margin-left: 0;
    }
}

@media screen and (max-width: 640px) {
    .formConteiner {
        width: 90%;
    }
}


@media screen and (max-width: 570px) {
    .dropDown {

    }
}

@media screen and (max-width: 550px) {
    .mobileDisplay {
        flex-wrap: wrap;
    }

    #showPopup {
        width: 100px;
        height: 40px;
    }

    button.add {
        width: 100px;
        height: 40px;
        margin: 0 !important;
    }

    .topBar2 {
        /*height: 200px;*/
    }
}


@media screen and (max-width: 480px) {

}

@media screen and (max-width: 470px) {
    .dropDown {

    }
}

@media screen and (max-width: 500px) {
    #buttonForBarMobile {
        display: flex;
    }
}