
<!doctype html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conceder Empréstimo</title>

    <meta property="og:title" content="Software de Gestão de Microcrédito - Gemic"/>
    <meta property="og:description"
          content="Descubra como nosso software pode ajudar na gestão de microcréditos para pequenas empresas e médias empresas."/>
    <meta property="og:image" content="https://gemicsoftware.com/asset/web/images/logoGemic.png"/>
    <meta property="og:url" content="https://gemicsoftware.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Gemic Software"/>
    <meta property="og:locale" content="pt_MZ"/>

    <meta property="article:publisher"
          content="https://www.facebook.com/profile.php?id=100094059331392&mibextid=LQQJ4d"/>
    <!-- URL da página do Facebook -->
    <meta property="og:instagram:creator"
          content="https://www.instagram.com/guizo_informatica_e_servicos?igshid=OGQ5ZDc2ODk2ZA=="/>
    <!-- Nome de usuário do Instagram -->

    <meta name="twitter:card" content="https://gemicsoftware.com/asset/web/images/logoGemic.png"/>
    <meta name="twitter:title" content="Software de Gestão de Microcrédito - Gemic"/>
    <meta name="twitter:description"
          content="Descubra como nosso software pode ajudar na gestão de microcréditos para pequenas empresas e médias empresas."/>
    <meta name="twitter:image" content="https://gemicsoftware.com/asset/web/images/logoGemic.png"/>

    <meta name="robots" content="index, follow"/>
    <link rel="canonical" href="https://gemicsoftware.com"/>

    <link rel="stylesheet" href="../../../components/header/header.css">
    <link rel="stylesheet" href="../../../components/header/headerMediaQuery.css">
    <link rel="stylesheet" href="../../../components/sideBar/sideBar.css">
    <link rel="stylesheet" href="../../../components/sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../../components/footer/footer.css">

    <link rel="stylesheet" href="../../../components/boot/set/set.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttons.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttonsMediaquery.css">
    <link rel="stylesheet" href="../../../components/boot/inputs.css">
    <link rel="stylesheet" href="../../../components/boot/selectedIconSideBar.css">

    <link rel="stylesheet" href="grantLoan.css">
    <link rel="stylesheet" href="grantLoanMediaquery.css">

    <link rel="stylesheet" href="../../../assets/fontawesome-free-6.5.1-web/css/all.min.css">
<!--    <script src="https://kit.fontawesome.com/07b3a47c42.js" crossorigin="anonymous"></script>-->
<style>

    /* .mainContentJustifierWithoutSubMenu */
    .mainContentJustifiyerWithoutSubMenu{
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
    height: calc(100vh - 55px);
    overflow: auto;
}



</style>
</head>
<body>

<!-- MOBILE BUTTON FOR SIDEBAR-->
<span id="buttonForBarMobile" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </span>


<!-- SIDEBAR-->
<div><menu id="menu" class="menuBar sidebar-hidden">
    <ul>
        <li id="buttonForBar">
            <i class="fa-regular fa-circle-xmark" id="xmark"></i><i class="fa-solid fa-bars" id="bars"></i>
        </li>

<!--
        <li><a href="/app/dashboard"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
-->
        <li><a href="/app/usuarios"><i class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="/app/clientes"><i class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="/app/emprestimos"><i class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="/app/caixa"><i class="fa-solid fa-cash-register"></i> Caixa</a></li>
<!--
        <li><a href="/app/relatorio"><i class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
-->
        <li><a href="/app/empresa"><i class="fa-solid fa-gear"></i> Configurações</a></li>
        <li><a href="/app/sair"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>
    </ul>
</menu></div>
<!--MAIN CONTEINER-->
<main class="mainContent">

    <!-- LOGGED NAME AND BUTTON TO PROFILE-->
    <nav class="navBar">
    <span></span>
    <a  href="/app/usuarios/perfil?token=NmY2ODg2YzQtMjRiNC00ZWJiLWFjZmQtMTQxNzk4ZDU5ODRkMTAwNzIwMjMwMDQ1Mzk="
       title="Ver meu perfil">
        <span >João Tomás Atualizado</span>
        <i class="fa-solid fa-circle-user"></i>
    </a>
</nav>

    <!--  CONTEINER FOR MAIN CONTENT-->
    <div class="mainContentJustifiyerWithoutSubMenu">
        <!-- SIGN form-->
        <div class="formConteiner">
            <h1 class="formTitle">Conceder empréstimo</h1>
            <form action="/app/emprestimos/conceder-emprestimo" method="post" class="form" id="register">
                
                <div class="firstSideOfPaiment">

                    <div class="loanLabelInputConteiner">
                        <label for="LoanName">Nome</label>
                        <select id="LoanName" autofocus name="clientName">
                            <option value="novo Cliente Atualizado">novo Cliente Atualizado</option>
                            <option value="Ana da Graca">Ana da Graca</option>
                            <option value="Anivalda Alc">Anivalda Alc</option>
                            <option value="Zeferino Zunguze">Zeferino Zunguze</option>
                            <option value="Joice João">Joice João</option>
                            <option value="novo aa">novo aa</option>
                            <option value="Alcino Tomas">Alcino Tomas</option>
                            <option value="Neusa Sebastião">Neusa Sebastião</option>
                            <option value="Abias Armando">Abias Armando</option>
                            <option value="Marta Luís">Marta Luís</option>
                            <option value="Érica Arnaldo ">Érica Arnaldo </option>
                            <option value="Luis Fugura Públicaaaa">Luis Fugura Públicaaaa</option>
                            <option value="outro teste">outro teste</option>
                            <option value="Gil Matola">Gil Matola</option>
                            <option value="Hermínio Fernando ">Hermínio Fernando </option>
                            <option value="Marcela de Araújo ">Marcela de Araújo </option>
                            <option value="Mariana Afonso ">Mariana Afonso </option>
                            <option value="Joice Joao">Joice Joao</option>
                            <option value="Fatima molide">Fatima molide</option>
                            <option value="khkkh hkhkhk">khkkh hkhkhk</option>
                            <option value="khhkjh khkjh">khhkjh khkjh</option>
                            <option value="khkhkhkh khkhkjh">khkhkhkh khkhkjh</option>
                            <option value="jjljl jljljlkj">jjljl jljljlkj</option>
                            <option value="a a">a a</option>
                            <option value="a a">a a</option>
                            <option value="Fátima Jacinto Mutota">Fátima Jacinto Mutota</option>
                            <option value="fhfhff fhgf">fhfhff fhgf</option>
                            <option value="hhhhkh hkhjkh">hhhhkh hkhjkh</option>
                            <option value="Fatima molide">Fatima molide</option>
                            <option value="khkhhkh hkhkhh">khkhhkh hkhkhh</option>
                            <option value="José Alfeu Sambo">José Alfeu Sambo</option>
                            <option value="Gina da Graca">Gina da Graca</option>
                            <option value="a a">a a</option>
                            <option value="gtutuu tututut">gtutuu tututut</option>
                            <option value="jgjgg ggjj">jgjgg ggjj</option>
                            <option value="ol ol">ol ol</option>
                            <option value="j">j</option>
                            <option value="bbkbkbkb khhkh">bbkbkbkb khhkh</option>
                            <option value="Baba Lux">Baba Lux</option>
                            <option value="a a">a a</option>
                            <option value="teste teste">teste teste</option>
                            <option value="Mario Pelembe">Mario Pelembe</option>
                            <option value="hkhhkh hkhkjhkh">hkhhkh hkhkjhkh</option>
                            <option value="hkhhkh hkhkjhkh">hkhhkh hkhkjhkh</option>
                            <option value="hjgj jgjgj">hjgj jgjgj</option>
                            <option value="Alcino">Alcino</option>
                            <option value="novo a">novo a</option>
                            <option value="a a">a a</option>
                            <option value="khkhhkh hkhkhh">khkhhkh hkhkhh</option>
                            <option value="hhhhkh hkhjkh">hhhhkh hkhjkh</option>
                            <option value="Edma Ali Nimora">Edma Ali Nimora</option>
                            <option value="Mário Matola">Mário Matola</option>
                            <option value="444">444</option>
                            <option value="6">6</option>
                            <option value="Manuel Tamele">Manuel Tamele</option>
                            <option value="Fatima molide">Fatima molide</option>
                            <option value="a a">a a</option>
                            <option value="gjgjg gjgjgjg">gjgjg gjgjgjg</option>
                            <option value="hkhhkh hkhkjhkh">hkhhkh hkhkjhkh</option>
                            <option value="Jacinto Criane">Jacinto Criane</option>
                            <option value="Fatima molide b">Fatima molide b</option>
                            <option value="khkhhkh hkhkhh">khkhhkh hkhkhh</option>
                            <option value="novo a">novo a</option>
                            <option value="Ethan Zunguze">Ethan Zunguze</option>
                            <option value="novo aa">novo aa</option>
                            <option value="jgggjb gjgjgjg">jgggjb gjgjgjg</option>
                            <option value="hhhhkh hkhjkh">hhhhkh hkhjkh</option>
                            <option value="hhhh hhkhh">hhhh hhkhh</option>
                            <option value="khkhkhkh khkhkjh">khkhkhkh khkhkjh</option>
                            <option value="khkhkhkh khkhkjh">khkhkhkh khkhkjh</option>
                            <option value="José Patrício Monteiro">José Patrício Monteiro</option>
                            <option value="a a">a a</option>
                            <option value="novo a">novo a</option>
                        </select>
                        <div id="fullNameDocumentoFeedback" class="feedback"></div>
                        
                    </div>

                    <div class="loanLabelInputConteiner">
                        <label for="witnessName">Testemunha</label>
                        <input type="text" id="witnessName" name="witness" value="">
                        
                    </div>

                    <div class="nowrapElements">
                        <div class="loanLabelInputConteiner">
                            <label for="concessionDate">Data de concessão</label>
                            <input type="date" id="concessionDate" name="loanDate" value="">
                            
                        </div>

                        <div class="loanLabelInputConteiner">
                            <label for="loansFees">Juros(%)</label>
                            <input type="text" id="loansFees" name="penalty" value="30">
                            
                        </div>
                    </div>


                    <div class="loanLabelInputConteiner">
                        <label for="loanValue">Valor concedido</label>
                        <input type="text" id="loanValue" name="amountGranted" value="0.0">
                        
                    </div>
                </div>

                <div class="secundSideOfPaiment">

                    <div class="loanLabelInputConteiner">
                        <label for="loanGoal">Finalidade</label>
                        <select id="loanGoal" name="purpose">
                            <option value=""></option>
                            <option value="Agricultura">Agricultura</option>
                            <option value="Consumo">Consumo</option>
                            <option value="Comércio">Comércio</option>
                            <option value="Educação">Educação</option>
                            <option value="Habitação">Habitação</option>
                            <option value="Saúde">Saúde</option>
                            <option value="Pecuária">Pecuária</option>
                            <option value="Outros">Outros</option>
                        </select>
                        
                    </div>

                    <div class="nowrapElements">
                        <div class="loanLabelInputConteiner">
                            <label for="comission">Comissão</label>
                            <input type="text" id="comission" name="accountCommission" value="0.0">
                            
                        </div>

                        <div class="loanLabelInputConteiner">
                            <label for="loanFrequency">Periodicidade</label>
                            <select id="loanFrequency" name="periodicity">
                                <option value=""></option>
                                <option value="Diário">Diário</option>
                                <option value="Semanal">Semanal</option>
                                <option value="Quinzenal">Quinzenal</option>
                                <option value="Mensal">Mensal</option>
                                <option value="Trimestral">Trimestral</option>
                                <option value="Semestral">Semestral</option>
                                <option value="Anual">Anual</option>
                            </select>
                            
                        </div>
                    </div>

                    <div class="nowrapElements">
                        <div class="loanLabelInputConteiner">
                            <label for="numOfInstallments">Numero de prestações</label>
                            <select id="numOfInstallments" name="numberOfInstallments">
                                <option value="0" selected="selected"></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>

                            </select>
                            
                        </div>


                        <div class="loanLabelInputConteiner">
                            <label for="acount">Conta</label>
                            <select id="acount" name="account">
                                <option value="Mpesa 1">Mpesa 1</option>
                                <option value="Emola 1">Emola 1</option>
                                <option value="Conta padrão 0000">Conta padrão 0000</option>
                                <option value="Emola 876742122">Emola 876742122</option>
                                <option value="Emola 2">Emola 2</option>
                                <option value="Conta padrão 00002">Conta padrão 00002</option>
                            </select>
                            
                        </div>
                    </div>
                </div>
                    <div class="button-container">
                        <button class="btn btn-cancel" type="reset">Descartar</button>
                        <button class="btn btn-success" type="submit">Submeter</button>
                    </div>
            </form>
            <h1 class="formTitleBottom"></h1>
        </div>
    </div>

    <!--  FOOTER-->
    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>
</main>

<script src="../../../components/sideBar/sideBar.js"></script>
<script src="../../../components/sideBar/sideBarMediaquery.js"></script>

</body>
</html>