@charset "UTF_8";

@media screen and (max-width: 715px) {

    div.formConteiner{
    overflow: hidden;
    }

    div.formConteiner > .form > .firstSideOfPaiment{
    display: flex;
    flex-wrap: wrap;
    }

    div.formConteiner > .form > .secundSideOfPaiment{
    display: flex;
    flex-wrap: wrap;
    }

    div.formConteiner > .form > .secundSideOfPaiment > .nowrapElements{
    display: flex;
    flex-basis: 100%;
    border-radius: 10px;
    width: 500px;
    }

    .nowrapElements{
        max-width: 800px;
    }

    .nowrapElements > .loanLabelInputConteiner > input{
    max-width: 800px;

    }
}

@media screen and (max-width: 600px) {

div.formConteiner > .form > .firstSideOfPaiment{
    max-width: 420px;
    }

    div.formConteiner > .form > .secundSideOfPaiment{
    max-width: 420px;
    }
}

@media screen and (max-width: 550px) {

div.formConteiner > .form > .firstSideOfPaiment{
    max-width: 390px;
    }

    div.formConteiner > .form > .secundSideOfPaiment{
    max-width: 390px;
    }
}

@media screen and (max-width: 500px) {

div.formConteiner > .form > .firstSideOfPaiment{
    max-width: 370px;
    }

    div.formConteiner > .form > .secundSideOfPaiment{
    max-width: 370px;
    }
}

@media screen and (max-width: 490px) {

div.formConteiner > .form > .firstSideOfPaiment{
    max-width: 360px;
    }

    div.formConteiner > .form > .secundSideOfPaiment{
    max-width: 360px;
    }

}

@media screen and (max-width: 450px) {

div.formConteiner > .form > .firstSideOfPaiment{
    max-width: 320px;
    }

    div.formConteiner > .form > .secundSideOfPaiment{
    max-width: 320px;

    }

    .nowrapElements{
        flex-wrap: wrap;
    }


}

@media screen and (max-width: 400px) {

div.formConteiner > .form > .firstSideOfPaiment{
    max-width: 280px;
    }

    div.formConteiner > .form > .secundSideOfPaiment{
    max-width: 280px;
    }

}

@media screen and (max-width: 380px) {

div.formConteiner > .form > .firstSideOfPaiment{
    max-width: 260px;
    }

    div.formConteiner > .form > .secundSideOfPaiment{
    max-width: 260px;
    }

}

@media screen and (max-width: 350px) {

div.formConteiner > .form > .firstSideOfPaiment{
    max-width: 240px;
    }

    div.formConteiner > .form > .secundSideOfPaiment{
    max-width: 240px;
    }

}