<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Conceder empréstimo</title>

    <link rel="shortcut icon" href="../../../assets/icons/favicon_gemic_app.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../components/header/header.css">
    <link rel="stylesheet" href="../../../components/header/headerMediaQuery.css">
    <link rel="stylesheet" href="../../../components/sideBar/sideBar.css">
    <link rel="stylesheet" href="../../../components/sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../../components/footer/footer.css">

    <link rel="stylesheet" href="../../../components/boot/set/set.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttons.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttonsMediaquery.css">
    <link rel="stylesheet" href="../../../components/form/standardForm/standardForm.css">
    <link rel="stylesheet" href="../../../components/form/standardForm/standardFormMediaquery.css">
    <link rel="stylesheet" href="../../../components/inputs/standardInputs/standardInputs.css">
    <link rel="stylesheet" href="../../../components/inputs/searchTools/searchTools.css">
    <link rel="stylesheet" href="../../../components/inputs/standardInputs/standardInputsMediaquery.css">
    <link rel="stylesheet" href="../../../components/boot/selectedIconSideBar.css">

    <link rel="stylesheet" href="../../../components/inputs/searchTools/searchTools.css">


    <link rel="stylesheet" href="../../../assets/fontawesome-free-6.5.1-web/css/all.min.css">
    <!--    <script src="https://kit.fontawesome.com/07b3a47c42.js" crossorigin="anonymous"></script>-->

</head>
<body>

<!-- MOBILE BUTTON FOR SIDEBAR-->
<span id="buttonForBarMobile" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </span>

<menu id="menu" class="menuBar sidebar-hidden">

    <ul>
        <li id="buttonForBar">
            <i class="fa-regular fa-circle-xmark" id="xmark"></i><i class="fa-solid fa-bars" id="bars"></i>
        </li>

        <li><a href="../../dashboard/dashboard.html"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="../../admin/admin.html"><i class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="../../clients/Client.html"><i class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="../loans.html"><i id="loan" class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="../../cashFlow/dailyTransitions.html"><i class="fa-solid fa-cash-register"></i> Caixa</a></li>
        <li><a href="../../reports/Reports.html"><i class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
        <li><a href="../../configs/aboutCompany.html"><i class="fa-solid fa-briefcase"></i> Acerca</a></li>
        <li><a href="../../clientFinance/clientFinance.html"><i class="fa-solid fa-money-bill"></i>finaças</a></li>
        <li><a href="../../finance/companiesWithActiveLicense/companiesWithActiveLicense.html"><i
                class="fa-solid fa-coins"></i> Finanças</a></li>
        <li><a href="../../../../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>
    </ul>
</menu>

<!--MAIN Conteiner-->
<main class="mainContent">

    <!-- LOGGED NAME AND BUTTON TO PROFILE-->
    <nav class="navBar">
        <span></span>
        <a href="../../admin/userProfile/profile.html" title="Ver meu perfil"><p>Ola Brian Smith <i
                class="fa-solid fa-circle-user"></i></p></a>
    </nav>

    <!--  Conteiner FOR MAIN CONTENT-->
    <div class="mainContentJustifierWithoutSubMenu">
        <!-- SIGN form-->
        <div class="formConteiner">
            <h1 class="formTitle">Conceder empréstimo</h1>
            <form action="#" class="standardForm">

                <div class="forInputsConteiner">

                    <div class="forInputs">
                        <label class="standardFormLabel" for="clientSearch">Nome *</label>
                        <input type="text" id="clientSearch" class="searchable-input"
                               placeholder="Digite para pesquisar..." autocomplete="off">
                        <ul class="dropdown hidden">
                            <li data-value="Judite da Maura">Judite da Maura</li>
                            <li data-value="Carlos Felisberto">Carlos Felisberto</li>
                            <li data-value="Paula Jonas Batista">Paula Jonas Batista</li>
                            <li data-value="Maura Januário">Maura Januário</li>
                            <li data-value="Felisberto Timóteo Dengo">Felisberto Timóteo Dengo</li>
                            <li data-value="Jonas Baltazar">Jonas Baltazar</li>
                        </ul>
                        <div id="clientNameDocumentoFeedback" class="feedback"></div>
                    </div>


                    <div class="forInputs">
                        <label class="standardFormLabel" for="witnessSearch">Avalista(Testemunha)</label>
                        <input type="text" id="witnessSearch" class="searchable-input"
                               placeholder="Digite para pesquisar..." autocomplete="off">
                        <ul class="dropdown hidden">
                            <li data-value="Judite da Maura">Maura Felisberto</li>
                            <li data-value="Carlos Felisberto"> Batista Carlos</li>
                            <li data-value="Paula Jonas Batista">Paula Felisberto</li>
                            <li data-value="Maura Januário">Judite Januário</li>
                            <li data-value="Felisberto Timóteo Dengo">Maura Judite Timóteo</li>
                            <li data-value="Jonas Baltazar">Dengo Jonas Baltazar</li>
                        </ul>
                        <div id="witnessNameDocumentoFeedback" class="feedback"></div>
                    </div>

                    <div class="forInputs">
                        <label class="standardFormLabel" for="concessionDate">Data de concessão *</label>
                        <input class="standardFormInput" type="date" id="concessionDate" name="concessionDate">
                        <div id="concessionDateDocumentoFeedback" class="feedback"></div>
                    </div>
                </div>

                <div class="forInputsConteiner">

                    <div class="forInputs">
                        <label class="standardFormLabel" for="loansFees">Juros(%) *</label>
                        <input class="standardFormInput" type="text" id="loansFees" name="loansFees">
                        <div id="loansFeesDocumentoFeedback" class="feedback"></div>
                    </div>

                    <div class="forInputs">
                        <label class="standardFormLabel" for="loanValue">Valor da concessão *</label>
                        <input class="standardFormInput" type="text" id="loanValue" name="loanValue">
                        <div id="loanValueDocumentoFeedback" class="feedback"></div>
                    </div>


                    <div class="forInputs">
                        <label class="standardFormLabel" for="loanGoal">Finalidade *</label>
                        <input type="text" id="loanGoal" class="searchable-input" placeholder="Digite para pesquisar..."
                               autocomplete="off">
                        <ul class="dropdown hidden">
                            <li></li>
                            <li>Agricultura</li>
                            <li>Consumo</li>
                            <li>Comércio</li>
                            <li>Educação</li>
                            <li>Habitação</li>
                            <li>Saúde</li>
                            <li>Pecuária</li>
                            <li>Compra de automóvel</li>
                            <li>Outros</li>
                        </ul>
                        <div id="loanGoalDocumentoFeedback" class="feedback"></div>
                    </div>

                </div>

                <div class="forInputsConteiner">

                    <div class="forInputs">
                        <label class="standardFormLabel" for="proceduralComission">comissão processual</label>
                        <input class="standardFormInput" type="text" id="proceduralComission"
                               name="proceduralComission">
                        <div id="proceduralComissionDocumentoFeedback" class="feedback"></div>
                    </div>

                    <div class="forInputs">
                        <label class="standardFormLabel" for="comission">Comissão</label>
                        <input class="standardFormInput" type="text" id="comission" name="comission">
                        <div id="comissionDocumentoFeedback" class="feedback"></div>
                    </div>

                    <div class="forInputs">
                        <label class="standardFormLabel" for="loanFrequency">Periodicidade *</label>
                        <input type="text" id="loanFrequency" class="searchable-input"
                               placeholder="Digite para pesquisar..." autocomplete="off">
                        <ul class="dropdown hidden">
                            <li></li>
                            <li>Diário</li>
                            <li>Semanal</li>
                            <li>Mensal</li>
                            <li>Trimestral</li>
                            <li>Semestral</li>
                            <li>Anual</li>
                        </ul>
                        <div id="loanFrequencyDocumentoFeedback" class="feedback"></div>
                    </div>
                </div>

                <div class="forInputsConteiner">

                    <div class="forInputs">
                        <label class="standardFormLabel" for="numOfInstallments">Numero de prestações *</label>
                        <input type="text" id="numOfInstallments" class="searchable-input"
                               placeholder="Digite para pesquisar..." autocomplete="off">
                        <ul class="dropdown hidden">
                            <li></li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                            <li>31</li>
                            <li>32</li>
                            <li>33</li>
                            <li>34</li>
                            <li>35</li>
                            <li>36</li>
                            <li>37</li>
                            <li>38</li>
                            <li>39</li>
                            <li>40</li>
                            <li>41</li>
                            <li>42</li>
                            <li>43</li>
                            <li>44</li>
                            <li>45</li>
                            <li>46</li>
                            <li>47</li>
                            <li>48</li>
                            <li>49</li>
                            <li>50</li>
                            <li>51</li>
                            <li>52</li>
                            <li>53</li>
                            <li>54</li>
                            <li>55</li>
                            <li>56</li>
                            <li>57</li>
                            <li>58</li>
                            <li>59</li>
                            <li>60</li>
                            <li>61</li>
                            <li>62</li>
                            <li>63</li>
                            <li>64</li>
                            <li>65</li>
                            <li>66</li>
                            <li>67</li>
                            <li>68</li>
                            <li>69</li>
                            <li>70</li>
                            <li>71</li>
                            <li>72</li>
                        </ul>
                        <div id="numOfInstallmentsDocumentoFeedback" class="feedback"></div>
                    </div>

                    <div class="forInputs">
                        <label class="standardFormLabel" for="autoInstallmentsValue">Parcelas</label>
                        <select name="autoInstallmentsValue" id="autoInstallmentsValue">
                            <option></option>
                            <option>12 000,00</option>
                            <option>12 000,00</option>
                            <option>12 000,00</option>
                        </select>
                        <div id="autoInstallmentsValueDocumentoFeedback" class="feedback"></div>
                    </div>

                    <div class="forInputs">
                        <label class="standardFormLabel" for="account">Conta *</label>
                        <input type="text" id="account" class="searchable-input" placeholder="Digite para pesquisar..."
                               autocomplete="off">
                        <ul class="dropdown hidden">
                            <li></li>
                            <li>M-PESA</li>
                            <li>E-MOLA</li>
                            <li>M-KESH</li>
                            <li>BIM</li>
                            <li>BCI</li>
                            <li>ABSA</li>
                        </ul>
                        <div id="accountDocumentoFeedback" class="feedback"></div>
                    </div>
                </div>

                <div class="button-container">
                    <button class="btn btn-cancel" type="reset">Descartar</button>
                    <button class="btn btn-success" type="submit">Submeter</button>
                </div>
            </form>

        </div>

    </div>

    <!--  FOOTER-->
    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>
</main>

<script src="../../../components/sideBar/sideBar.js"></script>
<script src="../../../components/sideBar/sideBarMediaquery.js"></script>
<script src="../../../components/inputs/searchTools/searchTools.js"></script>
<script src="../../../components/inputs/searchTools/searchTools.js"></script>
</body>
</html>