<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Detalhes do mutuário(cliente)</title>

    <link rel="shortcut icon" href="../../../assets/icons/favicon_gemic_app.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../components/header/header.css">
    <link rel="stylesheet" href="../../../components/header/headerMediaQuery.css">
    <link rel="stylesheet" href="../../../components/sideBar/sideBar.css">
    <link rel="stylesheet" href="../../../components/sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../../components/footer/footer.css">

    <link rel="stylesheet" href="../../../components/boot/set/set.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttons.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttonsMediaquery.css">
    <link rel="stylesheet" href="../../../components/inputs/tableInputs/tableInputs.css">
    <!-- <link rel="stylesheet" href="../../../components/form/clientRegisterForm.css"> -->
    <link rel="stylesheet" href="../../../components/table/table.css">

    <!-- <link rel="stylesheet" href="../../../components/boot/selectedIconSideBar.css"> -->

    <link rel="stylesheet" href="../../../components/profile/profileDetails.css">
    <link rel="stylesheet" href="../../../components/profile/profileDetailMediaQuery.css">

    <link rel="stylesheet" href="../../../assets/fontawesome-free-6.5.1-web/css/all.min.css">
<!--    <script src="https://kit.fontawesome.com/07b3a47c42.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.css">

</head>
<body>

<!-- MOBILE BUTTON FOR SIDEBAR-->
<span id="buttonForBarMobile" onclick="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
</span>

<menu  id="menu" class="menuBar sidebar-hidden">

    <ul>
        <li id="buttonForBar">
            <i class="fa-regular fa-circle-xmark" id="xmark"></i><i class="fa-solid fa-bars" id="bars"></i>
        </li>

        <li><a href="../../../views/dashboard/dashboard.html"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="../../admin/admin.html"><i class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="../../clients/Client.html"><i id="clients" class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="../../loans/loans.html"><i class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="../../cashFlow/dailyTransitions.html"><i class="fa-solid fa-cash-register"></i> Caixa</a></li>
        <li><a href="../../reports/Reports.html"><i class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
        <li><a href="../../configs/aboutCompany.html"><i class="fa-solid fa-briefcase"></i> Acerca</a></li>
        <li><a href="../../clientFinance/clientFinance.html"><i class="fa-solid fa-money-bill"></i>finaças</a></li>
        <li><a href="../../finance/companiesWithActiveLicense/companiesWithActiveLicense.html"><i class="fa-solid fa-coins"></i> Finanças</a></li>
        <li><a href="../../../../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>
    </ul>
</menu>

<main class="mainContent">

    <!--navBar-->
    <nav class="navBar">
        <span></span>
        <a href="../../admin/userProfile/profile.html" title="Ver meu perfil"><p>Ola Brian Smith <i class="fa-solid fa-circle-user"></i></p></a>
    </nav>

    <!--subNavBar-->
    <nav class="subNavBar">
        <div class="mobileDisplay">
                <a href="../clientRegister/clientRegister.html" class="btn btn-default" id="registerButton" title="Editar dados do cliente"><i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="../witnessDetails/witnessRegister/witnessRegister.html" class="btn btn-default" id="witnessRegisterButton" title="Adicionar avalista">+&nbsp;<i class="fa-solid fa-circle-user"></i>
                </a>
            </div>
    </nav>

    <!--MAIN-->
    <div class="mainContentJustifier">

        <!--CLIENTPROFILEDATA-->

        <section class="profileSection">
            <article class="profileDetails personalInformation">

                <!-- <div class="personalInformation"> -->

                    

                    <div class="profileName">
                        <i class="fa-solid fa-circle-user"></i>
                        <h1>Helder Juliao Biza</h1>
                    </div>
                    
                    <div class="groupContent">
                        <div class="details" id="clientGender">
                            <h2>Género</h2>
                            <p>Masculino</p>
                        </div>

                        <div class="details" id="clientMaritalStatus">
                            <h2>Estado civil</h2>
                            <p>Casado</p>
                        </div>
                   

                        <div class="details" id="clientDocument">
                            <h2>Tipo de documento</h2>
                            <p>BI</p>
                        </div>
                    </div>

                    <div class="groupContent">

                        <div class="details" id="clientDocumentNumber">
                            <h2>Documento nº</h2>
                            <p>53879388739739G</p>
                        </div>

                        <div class="details" id="clientDocumentIssuenceLocal">
                            <h2>Emitido em</h2>
                            <p>Matola</p>
                        </div>

                        <div class="details" id="clientDocumentIssuedDate">
                            <h2>Data de emissão</h2>
                            <p>16/05/2022</p>
                        </div>
                    </div>


                    <div class="groupContent">

                        <div class="details" id="clientDocumentTherm">
                            <h2>Validade</h2>
                            <p>16/05/2028</p>
                        </div>

                        <div class="details" id="clientNUIT">
                            <h2>NUIT</h2>
                            <p>567028</p>
                        </div>


                        <div class="details" id="clientNaturalness">
                            <h2>Naturalidade</h2>
                            <p>Maputo</p>
                        </div>
                    </div>

                    <div class="groupContent">

                        <div class="details" id="clientResidence">
                            <h2>Residência</h2>
                            <p>Boane</p>
                        </div>

                        <div class="details" id="clientNeighborhood">
                            <h2>Bairro</h2>
                            <p>08</p>
                        </div>

                        <div class="details" id="clientBlock">
                            <h2>Quarteirão</h2>
                            <p>04</p>
                        </div>
                    </div>

                    <div class="groupContent">

                        <div class="details" id="clientHouseNumber">
                            <h2>Casa nº</h2>
                            <p>1884</p>
                        </div>
                  

                        <div class="details" id="clientFathersName">
                            <h2>Nome do pai</h2>
                            <p>Julio Baltazar</p>
                        </div>

                        <div class="details" id="clientMothersName">
                            <h2>Nome da mãe</h2>
                            <p>Judite Francisco</p>
                        </div>
                    </div>

                    <div class="groupContent">

                        <div class="details" id="clientContact">
                            <h2>Contacto 1</h2>
                            <p>873004432</p>
                        </div>

                        <div class="details" id="optionalClientContact">
                            <h2>Contacto 2</h2>
                            <p>843004432</p>
                        </div>
                    </div>
                    <!-- </div> -->
                    
                
            </article>
        </section>

        <!--TABLES-->
        <div class="ScrollTable">
            <div class="tableConteiner">
                <table class="display table_on_profile_view" style="width:100%">
                    <caption class="table-caption">Lista de Empréstimos</caption>
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Valor do Empréstimo</th>
                            <th>Valor em Dívida</th>
                            <th>Data de Concessão</th>
                            <th>Prazo</th>
                            <th>Estado</th>
                            <th>Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>13 700,00</td>
                            <td>6 100,00</td>
                            <td>17-09-2024</td>
                            <td>17-12-2024</td>
                            <td>Em curso</td>
                            <td class="actionEye" title="Visualizar este empréstimo">
                                <a href="../../loans/paymentReport/paymentReport.html">
                                    <i class="fa-solid fa-eye" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <!-- Repita este bloco <tr> para cada empréstimo -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nº</th>
                            <th>Valor do Empréstimo</th>
                            <th>Valor em Dívida</th>
                            <th>Data de Concessão</th>
                            <th>Prazo</th>
                            <th>Estado</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        
        <div class="ScrollTable">
            <div class="tableConteiner">
                
                <table  class="display secund_table_on_profile_view" style="width:100%">
                    <caption class="table-caption">Lista de avalistas</caption>
                    <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Nome</th>
                        <th>Morada</th>
                        <th>Contacto</th>
                        <th>Estado</th>
                        <th class="actionEye">Visualizar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="user">
                        <td>1</td>
                        <td>Cardoso Muzine</td>
                        <td>Boane, Maputo</td>
                        <td>874 007 783</td>
                        <td>Activo</td>
                        <td class="actionEye" title="Visualisar detalhes do avalista"><a href="../witnessDetails/witnessDetails.html"><i class="fa-solid fa-eye"></i></a></td>
                    </tr>
                    <!-- Repita este bloco de tr para cada usuário -->
                    <tfoot>
                    <tr>
                        <th>Nº</th>
                        <th>Nome</th>
                        <th>Morada</th>
                        <th>Contacto</th>
                        <th>Estado</th>
                        <!--                    <th></th>-->
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>

    <!--    FOOTER-->
    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>

</main>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>
<script src="../../../components/table/table.js"></script>
<script src="../../../components/table/secundTable.js"></script>

<script src="../../../components/sideBar/sideBar.js"></script>
<script src="../../../components/sideBar/sideBarMediaQuery.js"></script>
</body>
</html>