<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Gestão do empréstimo</title>

    <link rel="stylesheet" href="../../components/header/header.css">
    <link rel="stylesheet" href="../../components/header/headerMediaQuery.css">
    <link rel="stylesheet" href="../../components/sideBar/sideBar.css">
    <link rel="stylesheet" href="../../components/sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../components/footer/footer.css">

    <link rel="stylesheet" href="../../components/boot/set/set.css">
    <link rel="stylesheet" href="../../components/boot/buttons.css">
    <link rel="stylesheet" href="../../components/form/simpleForm.css">
    <link rel="stylesheet" href="../../components/boot/inputs.css">

    <script src="https://kit.fontawesome.com/07b3a47c42.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.css">

    <link rel="stylesheet" href="loanManagement.css">
    <link rel="stylesheet" href="../../components/table/table.css">

</head>
<body>

<!-- MOBILE BUTTON FOR SIDEBAR-->
<span id="buttonForBarMobile" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </span>

<!-- SIDEBAR-->
<menu class="menuBar sidebar-hidden hide">

    <ul>

        <li id="buttonForBar" onclick="closeOpen()">
            <i class="fa-solid fa-bars"></i>
        </li>

        <li><a href="../../views/dashboard/Dashboard.html"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="../admin/Administracao.html"><i class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="../clients/Client.html"><i class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="../loans/loans.html"><i class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="../../views/cashFlow/cashFlow.html"><i class="fa-solid fa-cash-register"></i> Caixa</a></li>
        <li><a href="../../views/reports/Reports.html"><i class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
        <li><a href="../../views/configs/Configurações.html"><i class="fa-solid fa-gear"></i> Configurações</a></li>
        <li><a href="../../../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>
    </ul>
</menu>

<!--MAIN CONTEINER-->
<main class="mainContent">

    <!-- LOGGED NAME AND BUTTON TO PROFILE-->
    <nav class="navBar">
        <span></span>
        <a href="../admin/userProfile/profile.html" title="Ver meu perfil"><p>Ola Brian Smith <i
                class="fa-solid fa-circle-user"></i></p></a>
    </nav>

    <!-- SUB NAVBAR-->
    <nav class="subNavBar">

        <div class="mobileDisplay">

            <div class="justifyButton">

                <a href="../slaughteredLoan/slaughteredLoan.html" class="btn btn-cancel" id="takeOutTheLoan"
                   title="Abater o empréstimo">
                    <i class="fa-solid fa-sack-xmark"></i>
                </a>

                <a href="../loans/loans.html" class="btn btn-warning" id="putInRisk"
                   title="Colocar em risco">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                </a>

                <a href="../extendTheDeadline/extendTheDeadline.html" class="btn btn-warning" id="extendTheDeadline"
                   title="Extender o prazo">
                    <i class="fa-regular fa-calendar-plus"></i>
                </a>

                <a href="../applyFine/applyFine.html" class="btn btn-success" id="applyFine"
                   title="Aplicar multa">
                    <i class="fa-solid fa-coins"></i>
                </a>

                <button class="btn btn-default" id="printStatement"
                   title="Imprimir extrato">
                    <i class="fa-solid fa-receipt"></i>
                </button>

            </div>

        </div>

    </nav>

    <!--  CONTEINER FOR MAIN CONTENT-->
    <div class="mainContentJustifier">

        <!--  TABLE CONTEINER-->
        <div class="tableConteiner">
            <table  class="display table_on_profile_view" style="width:100%">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Data</th>
                    <th>Operador</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Tipo de movimento</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr class="user">
                    <td>1</td>
                    <td>22/04/2024</td>
                    <td>Julio de Cézar</td>
                    <td>Compra de canetas</td>
                    <td>65 000,00</td>
                    <td>Saída</td>
                    <td class="actionEye">

                        <a href="../applyFine/applyFine.html" title="Editar">
                            <i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr>

            </table>
        </div>

    </div>

    <!--  FOOTER-->
    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>
</main>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>

<script src="../../../src/components/table/table.js"></script>
<script src="../../components/boot/set/set.js"></script>

</body>
</html>