<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desempenho</title>
    <link rel="stylesheet" href="../../../fontawesome-free-6.5.1-web/css/all.min.css">
    <link rel="stylesheet" href="../../../assets/set.css">
    <link rel="stylesheet" href="../../../header/header.css">
    <link rel="stylesheet" href="../../../sideBar/sideBar.css">
    <link rel="stylesheet" href="../../../footer/footer.css">
    <link rel="stylesheet" href="../../../assets/table.css">
    <link rel="stylesheet" href="../adminstMediaQuery.css">
    <link rel="stylesheet" href="../../../sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../../header/headerMediaQuery.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <link rel="stylesheet" href="../../../assets/graphic.css">


    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.css">
</head>
<body>

<!--MENU BUTTON-->
<span id="buttonForBarMobile" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </span>

<!--SIDEBAR-->
<aside id="menu" class="menuBar sidebar-hidden">
    <ul>

        <li style="height: 50px;border-bottom: 3px solid var(--myLight); justify-content: center">
            <span><i class="fa-regular fa-circle-xmark" id="xmark"></i><i class="fa-solid fa-bars" id="bars"></i></span>
        </li>

        <li><a href="../../../views/dashboard/Dashboard.html"><i
                class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="../../../views/adminst/Administração.html"><i
                class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="../../../views/clients/Clientes.html"><i
                class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="../../loans/loans.html"><i
                class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="../../../views/cashFlow/Fluxo%20de%20caixa.html"><i
                class="fa-solid fa-cash-register"></i> Caixa</a></li>
        <li><a href="../../../views/reports/Reports.html"><i
                class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
        <li><a href="../../../views/configs/Configurações.html"><i
                class="fa-solid fa-gear"></i> Configurações</a></li>
        <li><a href="../../../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>

    </ul>
</aside>

<main class="topFoot">

    <!--TOPBAR-->
    <nav class="topBar">
        <a href="../Administração.html" title="voltar a lista dos usuários"><i
                class="fa-solid fa-circle-arrow-left"></i></a>
        <a href="../userProfile/profile.html" title="Ver meu perfil"><p>Ola Brian Smith <i class="fa-solid fa-circle-user"></i></p></a>
    </nav>

    <!--MAIN-->
    <div class="ScrollAllContent">

        <!--TABLES-->
        <div class="ScrollTable">
            <div class="tableConteiner">
                <table id="example" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th rowspan="2">Nome</th>
                        <th rowspan="2">Nº de vendas</th>
                        <th rowspan="2">Concedido</th>
                        <th rowspan="2">Reembolsado</th>
                        <th colspan="2">Lucro</th>
                        <th rowspan="2">Pendente</th>
                        <th rowspan="2">Concedido (%)</th>
                        <th rowspan="2">Reembolsado</th>
                        <th rowspan="2" class="actionEye">Ações</th>
                    </tr>
                    <tr>
                        <th>Recebido</th>
                        <th>Esperado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="user">
                        <td>Alcino de Almeida Martins Tsengo</td>
                        <td>63</td>
                        <td>89 743,00</td>
                        <td>70 654,00</td>
                        <td>19 089,00</td>
                        <td>59 192,00</td>
                        <td>59 192,00</td>
                        <td>59 192,00</td>
                        <td>59 192,00</td>
                        <td class="actionEye" title="Visualizar este empréstimo"><a href="../../loans/loans.html"> <i
                                class="fa-solid fa-eye"></i></a></td>
                    </tr>
                    <tr class="user">
                        <td>Alcino de Almeida Martins Tsengo</td>
                        <td>63</td>
                        <td>89 743,00</td>
                        <td>70 654,00</td>
                        <td>19 089,00</td>
                        <td>59 192,00</td>
                        <td>59 192,00</td>
                        <td>59 192,00</td>
                        <td>59 192,00</td>
                        <td class="actionEye" title="Visualizar este empréstimo"><a href="../../loans/loans.html"> <i
                                class="fa-solid fa-eye"></i></a></td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Nº de vendas</th>
                        <th>Concedido</th>
                        <th>Reembolsado</th>
                        <th>Recebido</th>
                        <th>Esperado</th>
                        <th>Pendente</th>
                        <th>Concedido (%)</th>
                        <th>Reembolsado</th>
                        <!--                <th>Ações</th>-->
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <!--GRAPHIC-->
        <nav class="switch">
            <button onclick="changeChart(0)" class="switchButton active" id="monthly" title="">Valor das vendas</button>
            <button onclick="changeChart(1)" class="switchButton" id="Yearly">Capital arecadado</button>
            <button onclick="changeChart(2)" class="switchButton" id="monthlyAnalysis">Capital investido</button>
        </nav>
        <div class="chart-container">
            <canvas id="salesChart" class="first"></canvas>
            <canvas id="salesChart1"></canvas>
            <canvas id="salesChart2"></canvas>
        </div>

    </div>

    <!--    FOOTER-->
    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>

</main>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>
<script src="../../../header/filterModal/filter.js"></script>
<script src="../../../sideBar/sideBar.js"></script>
<script src="../../../assets/modal/modal.js"></script>
<script src="graphicPerformance.js"></script>
<script src="../../../assets/table.js"></script>
</body>
</html>