<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desempenho</title>

    <link rel="shortcut icon" href="../../../assets/icons/favicon_gemic_app.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../components/boot/set/set.css">
    <link rel="stylesheet" href="../../../../src/components/header/header.css">
    <link rel="stylesheet" href="../../../../src/components/sideBar/sideBar.css">
    <link rel="stylesheet" href="../../../../src/components/footer/footer.css">
    <link rel="stylesheet" href="../../../../src/components/table/table.css">
    <link rel="stylesheet" href="../adminMediaQuery.css">
    <link rel="stylesheet" href="../../../../src/components/sideBar/sideBarMediaQuery.css">
    <link rel="stylesheet" href="../../../../src/components/boot/set/graphics/graphic.css">
    <link rel="stylesheet" href="../../../../src/components/boot/set/graphics/graphicMediaquery.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttons.css">
    <link rel="stylesheet" href="../../../components/boot/set/buttons/buttonsMediaquery.css">
    <link rel="stylesheet" href="../../../components/inputs/tableInputs/tableInputs.css">

    <link rel="stylesheet" href="../../../components/boot/selectedIconSideBar.css">

    <link rel="stylesheet" href="../../../assets/fontawesome-free-6.5.1-web/css/all.min.css">

<!--    <script src="https://kit.fontawesome.com/07b3a47c42.js" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.css">
</head>
<body>

<!-- MOBILE BUTTON FOR SIDEBAR-->
<span id="buttonForBarMobile" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </span>

<menu  id="menu" class="menuBar sidebar-hidden">

    <ul>
        <li id="buttonForBar">
            <i class="fa-regular fa-circle-xmark" id="xmark"></i><i class="fa-solid fa-bars" id="bars"></i>
        </li>

        <li><a href="../../../views/dashboard/dashboard.html"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="../../admin/admin.html"><i id="admin" class="fa-solid fa-user-tie"></i> Administração</a></li>
        <li><a href="../../clients/Client.html"><i class="fa-regular fa-address-card"></i> Clientes</a></li>
        <li><a href="../../loans/loans.html"><i class="fa-solid fa-hand-holding-dollar"></i> Empréstimos</a></li>
        <li><a href="../../cashFlow/dailyTransitions.html"><i class="fa-solid fa-cash-register"></i> Caixa</a></li>
        <li><a href="../../../views/reports/Reports.html"><i class="fa-solid fa-file-invoice"></i> Relatórios</a></li>
        <li><a href="../../configs/aboutCompany.html"><i class="fa-solid fa-briefcase"></i> Acerca</a></li>
        <li><a href="../../../../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>
    </ul>
</menu>
<main class="mainContent">

    <!--navBar-->
    <nav class="navBar">
        <span></span>
        <a href="../userProfile/profile.html" title="Ver meu perfil"><p>Ola Brian Smith <i class="fa-solid fa-circle-user"></i></p></a>
    </nav>

    <!--MAIN-->
    <div class="mainContentJustifierWithoutSubMenu">

        <!--TABLES-->
        <div class="tableConteiner">

            <table  class="display table_on_profile_view" style="width:100%">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Nome</th>
                    <th>Nº de vendas</th>
                    <th>Concedido</th>
                    <th>Reembolsado</th>
                    <th>Lucro recebido</th>
                    <th>Lucro esperado</th>
                    <th>Pendente</th>
                    <th>Concedido (%)</th>
                    <th>Reembolsado(%)</th>
                    <th class="action">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Jorge Domingos</td>
                    <td>54</td>
                    <td>10 000</td>
                    <td>5 000</td>
                    <td>1 400</td>
                    <td>1600</td>
                    <td>5 000</td>
                    <td>18%</td>
                    <td>9%</td>
                    <td class="action" title="Visualizar o perfil"><a href="../userProfile/profile.html"> <i class="fa-solid fa-eye"></i></a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Nº</th>
                    <th>Nome</th>
                    <th>Nº de vendas</th>
                    <th>Concedido</th>
                    <th>Reembolsado</th>
                    <th>Lucro recebido</th>
                    <th>Lucro esperado</th>
                    <th>Pendente</th>
                    <th>Concedido (%)</th>
                    <th>Reembolsado(%)</th>
                    <!--                    <th></th>-->
                </tr>
                </tfoot>
            </table>

        </div>

        <!--GRAPHIC-->
            <nav class="switch">
                <button onclick="changeChart(0)" class="switchButton btn btn-default" id="monthly" title="">Valor das vendas</button>
                <button onclick="changeChart(1)" class="switchButton btn btn-default" id="Yearly">Capital arecadado</button>
                <button onclick="changeChart(2)" class="switchButton btn btn-default" id="monthlyAnalysis">Capital investido</button>
            </nav>
        <section class="graphicSection">
            
            <div class="chart-conteiner">
                <canvas id="salesChart" class="first"></canvas>
                <canvas id="salesChart1"></canvas>
                <canvas id="salesChart2"></canvas>
            </div>
        </section>

    </div>

    <!--    FOOTER-->
    <footer>
        <p>&copy;Guizo Informática e Serviços</p>
    </footer>

</main>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>
<!---->
<script src="../../../../src/components/table/table.js"></script>
<script src="../../../components/sideBar/sideBar.js"></script>
<script src="../../../components/sideBar/sideBarMediaquery.js"></script>
<script src="graphicPerformance.js"></script>

</body>
</html>