@charset "UTF_8";

@media screen and (max-width: 385px) {

    .subNavBar > .mobileDisplay > .chooseDate{
        height: 50px;
        flex-basis: 50%;
        flex-wrap: wrap;
        align-items: center;
    }

    .subNavBar > .mobileDisplay > .chooseDate > .separate{
        margin: 0;
    }

    .subNavBar > .mobileDisplay > .chooseDate > label > input{
        padding: 2px;
        border-radius: 5px;
        margin: 0;
    }
}

@media screen and (max-width: 900px) {
    .mainContentJustifier{
        align-items: center !important;
    }
}