@charset "UTF-8";

.topFoot {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    width: auto;
}

.topBar, .topBar2 {
    width: 100%;
    background-color: white;
    height: 55px;
}

.topBar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#buttonForBarMobile{
    display: none;
    position: absolute;
    /*background-color: red;*/
    padding-left: 10px;
    padding-top: 5px;
}

.topBar2{
    padding: 0 20px;
}

/*.topBar > a > p {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*}*/

/*.topBar > a > i{*/
/*    font-size: 12pt;*/
/*    color: var(--myLightBlue);*/
/*    background-color: var(--myLightBlueOpac);*/
/*    border-radius: 50%;*/
/*    margin: 0 40px;*/
/*}*/

/*.topBar > a > i:hover{*/
/*    color: white;*/
/*    background-color: var(--myLightBlue);*/
/*}*/

/*.topBar2 {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    margin: 20px 10px 0 10px;*/
/*    border-radius: 10px 10px 0 0;*/
/*}*/

/*.topBar2 p, button {*/
/*    display: flex;*/
/*    text-align: right;*/
/*    background-color: var(--myLightBlueButton);*/
/*    border-radius: 6px;*/
/*    padding-right: 8px;*/
/*    align-items: center;*/
/*    height: 70%;*/
/*    border: none;*/

/*}*/

.topBar2 > p > input {
    display: flex;
    flex-basis: 100%;
    padding: 5px;
    background: transparent;
    border-radius: 5px;
    border: none;
}


.mobileDisplay{
    display: flex;
    flex-basis: 100%;
    /*margin: auto;*/
    justify-content: flex-end;
    margin-left: 20px;
    align-items: center;
    height: 100%;
    /*background-color: red;*/
    /*border: 1px solid #3E97FF;*/
}

#showPopup{
    width: 80px;
    /*background-color: red;*/
}

.filter {
    margin: 40px;
    justify-content: center;
    text-align: center;
    height: 70%;
}

button {
margin: 20px;

}

.filter > p {
    position: absolute;
    color: #3E97FFFF;
}

.filter > p > i {
    text-align: center;
    color: #3E97FFFF;
}

/**/

#popupForm {
    display: none;
}

.profile {
    align-items: center;
}

.justifyButton{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*background-color: blue;*/
}

