@charset "UTF-8";

.topFoot {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    width: auto;
}

.topBar, .topBar2 {
    width: 100%;
    background-color: white;
    height: 55px;
}

.topBar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#buttonForBarMobile{
    display: none;
    position: absolute;
    /*background-color: red;*/
    padding-left: 10px;
    padding-top: 5px;
}

.topBar2{
    padding: 0 20px;
}

.topBar > a > p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topBar > a > i{
    font-size: 12pt;
    color: var(--myLightBlue);
    background-color: var(--myLightBlueOpac);
    border-radius: 50%;
    margin: 0 40px;
}

.topBar > a > i:hover{
    color: white;
    background-color: var(--myLightBlue);
}

.topBar2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 10px 0 10px;
    border-radius: 10px 10px 0 0;
}

.topBar2 p, button {
    display: flex;
    text-align: right;
    background-color: var(--myLightBlueButton);
    border-radius: 6px;
    padding-right: 8px;
    align-items: center;
    height: 70%;
    border: none;

}

.topBar2 > p > input {
    display: flex;
    flex-basis: 100%;
    padding: 5px;
    background: transparent;
    border-radius: 5px;
    border: none;
}


.mobileDisplay{
    display: flex;
    flex-basis: 100%;
    /*margin: auto;*/
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
    height: 100%;
    /*border: 1px solid #3E97FF;*/
}

#showPopup{
    width: 80px;
    /*background-color: red;*/
}

.filter {
    margin: 40px;
    justify-content: center;
    text-align: center;
    height: 70%;
}

button {
    margin: 0;

}

.filter > p {
    position: absolute;
    color: var(--myLightBlue);
}

.filter > p > i {
    text-align: center;
    color: var(--myLightBlue);
}

/**/

#popupForm {
    display: none;
}

.profile {
    align-items: center;
}

.justifyButton{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*background-color: blue;*/
}

div.mobileDisplay > .justifyButton > button.add, .performanceButton {
    color: white;
    display: flex;
    height: 40px;
    background-color: var(--myLightBlue);
    margin: 0 10px;
    justify-content: center;
    padding: 5px 5px;
    width: 40px;
    transition: .5s ease-in-out;
}

div.mobileDisplay > .justifyButton > button:hover{
    color: var(--myLightBlue);
    background-color: var(--myLightBlueButton);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

}

div.mobileDisplay > .justifyButton > button > i.fa-solid{
    color: white;
}

div.mobileDisplay > .justifyButton > button:hover i.fa-solid{
    color: var(--myLightBlue);
}

.topBar2 > button > input {
    color: white;
    font-weight: bold;
}

.topBar2 > button > input > i.fa-plus {
    color: white !important;
}


